<div fxLayout="row">
    <mat-chip-list #chipList>
        <mat-chip [selectable]="false"
                  *ngFor="let param of queryItem.params; let i = index"
                  (click)="show(i)"
                  [removable]="true"
                  (removed)="delete(i)">
            [{{param.type}}] $${{param.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip [selectable]="false" (click)="show()">
            Yeni Parametre
        </mat-chip>
    </mat-chip-list>
</div>
