<h2 mat-dialog-title>Kullanıcı Oluştur</h2>
<mat-dialog-content>
    <mp-alert *ngIf="isCopy">
        <strong>{{tempUser['company']['title'] }}/{{tempUser['username']}}</strong> Kullanıcı Adına Sahip
        Kullanıcının Kopyasını Oluşturuyorsunuz.
    </mp-alert>
    <mat-form-field>
        <input matInput
               autocapitalize="words"
               placeholder="Adı Soyadı"
               [(ngModel)]='user.fullname'
               name='fullname'>
    </mat-form-field>
    <mat-form-field>
        <input matInput
               autocapitalize="none"
               placeholder="E-Posta"
               [(ngModel)]='user.email'
               name='email'>
    </mat-form-field>
    <mat-form-field>
        <input matInput
               autocapitalize="none"
               placeholder="Kullanıcı Adı"
               [(ngModel)]='user.username'
               name='username'>
    </mat-form-field>
    <mat-spinner *ngIf="!companies" [diameter]="22" color="warn"></mat-spinner>
    <mat-form-field *ngIf="!!companies">
        <mat-select placeholder="Bağlı Olduğu Şirket"
                    [(ngModel)]="user.companyId"
                    name="roles">
            <mat-option [value]="null">Seçin</mat-option>
            <mat-option *ngFor="let company of companies" [value]="company._id">{{company.title}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="action">
        <mat-slide-toggle
            [(ngModel)]='user.isAdmin'
            [checked]="user.isAdmin"
            color="warn"
        >
            Admin
        </mat-slide-toggle>
    </div>
    <div class="action" *ngIf="isCopy">
        <mat-slide-toggle
            [(ngModel)]='user.copyTasks'
            [checked]="user.copyTasks"
            color="warn"
        >
            Görevleri Kopyala
        </mat-slide-toggle>
    </div>
    <mat-form-field>
        <input matInput
               placeholder="Parola"
               [(ngModel)]='user.password'
               type="password"
               name='password'>
    </mat-form-field>
    <mat-form-field>
        <input matInput
               placeholder="Parola (Tekrar)"
               [(ngModel)]='user.passwordRepeat'
               type="password"
               name='passwordRepeat'>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <mat-spinner *ngIf="loading" [diameter]="16" color="warn"></mat-spinner>
    <button mat-button mat-dialog-close cdkFocusInitial>İptal</button>
    <button mat-button [disabled]="loading" (click)="save()">Kaydet</button>
</mat-dialog-actions>
