<div class="app-container">
    <mat-toolbar color="primary">
        <button (click)="drawer.toggle()" *ngIf="screenWidth < 840" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <h1>MP-API Control Panel</h1>
        <span fxFlex></span>
        <button class="right-menu-btn" mat-button [matMenuTriggerFor]="menu">
            <div fxLayout="row">
                <avatar
                    [email]="user.fullname"
                    [displayType]="'circle'"
                    background="#708bff"
                    [size]="32">
                </avatar>
                <span class="username">{{user.fullname}}</span>
            </div>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>close</mat-icon>
                <span>Çıkış</span>
            </button>
        </mat-menu>
    </mat-toolbar>
    <mat-drawer-container>
        <mat-drawer #drawer [mode]="(screenWidth > 840) ? 'side' : 'over'" [opened]="screenWidth > 840">
            <mat-action-list>
                <mp-drawer-item *ngFor="let item of navItems" [item]="item"></mp-drawer-item>
            </mat-action-list>
        </mat-drawer>
        <mat-drawer-content ngx-auto-scroll lock-y-offset="10" observe-attributes>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
