@import '~@angular/material/theming';

.flex-space {
    flex: 1 1 auto;
}

.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    & > mat-toolbar {
        & > h1 {
            margin-left: 8px;
        }

        .right-menu-btn {
            padding: 6px 12px;

            .username {
                padding: 0 12px;
            }
        }
    }
}

mat-drawer.mat-drawer-side {
    border: none !important;
    background-color: transparent !important;
}

mat-drawer {
    min-width: 280px;

    mat-toolbar {
        position: fixed;
        font-size: 13rem;
        min-height: 280px;
    }
}

body {
    background: linear-gradient(0deg, #3a4057 50%, #3a4057 50%, #303030 50%);
}
