<mat-dialog-content>
    <div fxLayout="row">
        <mat-form-field>
            <span matPrefix><mat-icon [fontIcon]="presentItem.icon"></mat-icon> &nbsp;</span>
            <input matInput placeholder="İcon" [(ngModel)]="presentItem.icon">
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput
                   autocapitalize="none"
                   placeholder="Başlık"
                   [(ngModel)]='presentItem.title'
                   name='Başlık'>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field fxFlex>
            <input matInput
                   autocapitalize="none"
                   placeholder="Alt Başlık"
                   [(ngModel)]='presentItem.subtitle'
                   name='Başlık'>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field fxFlex>
            <textarea matInput placeholder="Açıklama"
                      rows="4"
                      [(ngModel)]="presentItem.description"></textarea>
        </mat-form-field>
    </div>
    <div fxLayout="row" *ngFor="let param of matchs;let i = index">
        <mat-form-field fxFlex="30">
            <input matInput
                   type="text"
                   placeholder="Parametre"
                   [(ngModel)]='param'
                   readonly
                   name='textColumn'>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput
                   type="text"
                   placeholder="Değer"
                   [(ngModel)]='presentItem.params[param]'
                   name='valueColumn'>
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="removeParam(i);">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div fxLayout="row">
        <button mat-stroked-button (click)="generateMatchs()">
            Parametreleri Yeniden Oluştur
        </button>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="presentItem">Kaydet</button>
    <button mat-button mat-dialog-close cdkFocusInitial>İptal</button>
</mat-dialog-actions>
