<mp-header [breadcrumbs]="[
    {displayName: 'Kullanıcılar', route: '/process/users'},
    {displayName: user.username, route: '/process/users'},
    {displayName: 'İşlemler', route: '/process/list'}
]">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ara">
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="gotoAdd()">
        <mat-icon>add</mat-icon>
    </button>
</mp-header>
<div class="content">
    <div class="mat-elevation-z2">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>İşlem Adı</th>
                <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Kategori</th>
                <td mat-cell *matCellDef="let element">{{element.categoryTitle}}</td>
            </ng-container>

            <ng-container matColumnDef="processKey">
                <th mat-header-cell *matHeaderCellDef>İşlem Anahtarı</th>
                <td mat-cell *matCellDef="let element">{{element.processKey}}</td>
            </ng-container>

            <ng-container matColumnDef="dbKey">
                <th mat-header-cell *matHeaderCellDef>Veritabanı</th>
                <td mat-cell *matCellDef="let element">{{element.dbKey}}</td>
            </ng-container>

            <ng-container matColumnDef="hidden">
                <th mat-header-cell *matHeaderCellDef>Gizli İşlem</th>
                <td mat-cell *matCellDef="let element">{{element.hidden}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>E-Posta</th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
            </ng-container>

            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef>Aktif</th>
                <td mat-cell *matCellDef="let element">{{element.active}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> İşlemler</th>
                <td mat-cell *matCellDef="let element;let i = index" [style.width]="'130px'">
                    <button mat-icon-button
                            matTooltip="Düzenle"
                            matTooltipPosition="below"
                            (click)="gotoEdit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button
                            matTooltip="Sil"
                            matTooltipPosition="below"
                            (click)="delete(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>
</div>
