<mat-list-item
    [class.icon-space]="!(category.children && category.children.length)"
    [class.expanded]="expanded">
    <button mat-icon-button (click)="onToggleExpanded()" *ngIf="category.children && category.children.length">
        <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
            expand_more
        </mat-icon>
    </button>
    <mat-icon [fontIcon]="category.icon"></mat-icon>
    <div *ngIf="editing" class="form" fxLayout="row">
        <mat-form-field>
            <input matInput placeholder="Kategori Adı" [(ngModel)]="category.title">
        </mat-form-field>
        <mat-form-field>
            <span matPrefix><mat-icon [fontIcon]="category.icon"></mat-icon> &nbsp;</span>
            <input matInput placeholder="İcon" [(ngModel)]="category.icon">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Sıra" [(ngModel)]="category.order">
        </mat-form-field>
        <div class="action">
            <mat-slide-toggle [(ngModel)]="category.deleted">Silindi</mat-slide-toggle>
        </div>
    </div>
    <span *ngIf="!editing">&nbsp; {{category.title}} {{!!category.deleted ? '(silindi)' : ''}}</span>
    <span fxFlex></span>
    <span *ngIf="!editing">
        <button mat-icon-button (click)="editing = !editing">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="category._id" (click)="showAddDialog()">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button *ngIf="category._id" (click)="delete()">
            <mat-icon>delete</mat-icon>
        </button>
    </span>
    <span *ngIf="!!editing">
        <button mat-icon-button *ngIf="category._id" (click)="editing = !editing">
            <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button (click)="save()">
            <mat-icon>save</mat-icon>
        </button>
    </span>
</mat-list-item>
<mat-action-list *ngIf="expanded" [style.padding-left]="(depth * 24) + 'px'">
    <mp-category-item
        (refresh)="refresh.emit()"
        *ngFor="let child of category.children"
        [category]="child"
        [depth]="depth+1"
    >
    </mp-category-item>
</mat-action-list>
