@import '~src/scss/theme';

:host {

    &:hover,
    &:focus {
        > .mat-list-item:not(.expanded) {
            background-color: mat-color($app-primary, 100, .4) !important;
        }
    }

}

.form {

    mat-form-field {
        margin-right: 12px;
    }

}

mat-list-item {

    padding: 8px 0;
    display: flex;
    width: auto;
    height: auto !important;

    mat-icon.routeIcon {
        margin-right: 20px;
    }

    //&.icon-space .mat-list-item-content:not(:empty) {
    //    margin-left: 40px;
    //}
}

::ng-deep .icon-space .mat-list-item-content:not(:empty) {
    margin-left: 40px;
}


