@import '~src/scss/theme';

.header-component {
    padding-left: 24px;

    h1, h2, h3, h4, h5, p {
        color: mat-color($app-primary) !important;
    }

}

:host /deep/ .mat-button {
    min-width: unset !important;
}
