<mat-list class="header-component">
    <mat-list-item>
        <h3 matLine>
            {{title}}
            <span *ngFor="let breadcrumb of breadcrumbs;let bIndex = index">
                <a mat-button [routerLink]="breadcrumb.route">{{breadcrumb.displayName}}</a>
                <span *ngIf="(bIndex+1) !== breadcrumbs.length"> /</span>
            </span>
        </h3>
        <p matLine *ngIf="subtitle"> {{subtitle}} </p>
        <ng-content></ng-content>
    </mat-list-item>
</mat-list>
