<mp-header [breadcrumbs]="[
    {displayName: 'Kullanıcılar', route: '/process/users'},
    {displayName: user.username, route: '/process/users'},
    {displayName: 'İşlemler', route: '/process/list'},
    {displayName: processItem.title, route: '/process/list'},
    {displayName: 'Hızlı Erişim'}
]">
    <button mat-icon-button color="primary" (click)="show()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
</mp-header>
<div class="content" fxLayout="row wrap" *ngIf="presentParams">
    <div
        fxFlex="33" [fxFlex.lt-md]="50"
        *ngFor="let presentParam of presentParams; let i = index;">
        <mat-card class="present-param-card">
            <div>
                <button mat-icon-button>
                    <mat-icon [fontIcon]="presentParam.icon"></mat-icon>
                </button>
                <mat-card-title-group>
                    <mat-card-title>
                        {{ presentParam.title }}
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{ presentParam.subtitle }}
                    </mat-card-subtitle>
                </mat-card-title-group>
                <div fxFlex></div>
                <button mat-icon-button
                        [color]="presentParam.default && 'primary'"
                        (click)="setDefault(i);">
                    <mat-icon class="default">touch_app</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="show(i)">Düzenle</button>
                    <button mat-menu-item (click)="delete(i);">Sil</button>
                </mat-menu>
            </div>
            <mat-card-content>
                <p>
                    {{presentParam.description}}
                </p>
            </mat-card-content>
        </mat-card>

    </div>
</div>
