<mp-header [breadcrumbs]="[
    {displayName: 'Kullanıcılar', route: '/user/list'},
    {displayName: user.username, route: '/user/list'},
    {displayName: 'Default Parametreler'}
]">
    <button mat-icon-button color="primary" (click)="addDetailItem()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
</mp-header>
<div class="content">
    <mat-card>
        <mat-card-content>
            <div fxLayout="column" fxFlexAlign="left">
                <p>Kullanıcının çalıştırdığı tüm sorgularda buraya eklenen parametreler de eklenir.</p>
                <div *ngFor="let defaultItem of user.defaults; let i = index;">
                    <mat-form-field fxFlex="25">
                        <input matInput
                               autocapitalize="none"
                               placeholder="Parametre Adı"
                               [(ngModel)]="defaultItem.name"
                               name='fullname'>
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <input matInput
                               autocapitalize="none"
                               placeholder="Parametre Değeri"
                               [(ngModel)]="defaultItem.value"
                               name='detail'>
                    </mat-form-field>
                    <button mat-icon-button (click)="user.defaults.splice(i, 1)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
