<mp-header [breadcrumbs]="[
    {displayName: 'Kullanıcılar', route: '/user/list'},
    {displayName: user.username, route: '/user/list'},
    {displayName: 'Görevler'}
]">
    <button mat-icon-button color="primary" (click)="addTask()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
</mp-header>
<div class="content">
    <mat-tab-group *ngIf="user && user.tasks" animationDuration="0ms">
        <mat-tab *ngFor="let task of user.tasks; let taskIndex = index" [label]="task.title">
            <mat-card>
                <div fxLayout="row">
                    <mat-form-field fxFlex>
                        <mat-select placeholder="Görev Tipi"
                                    [(ngModel)]="task.module">
                            <mat-option [value]="null">Seçin</mat-option>
                            <mat-option *ngFor="let task of taskTypes" [value]="task.value">
                                {{task.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <input matInput
                               autocapitalize="none"
                               placeholder="Başlık"
                               [(ngModel)]='task.title'
                               name='Başlık'>
                    </mat-form-field>
                    <div class="action">
                        <mat-slide-toggle [(ngModel)]="task.active">
                            {{task.active ? 'Aktif' : 'Pasif'}}
                        </mat-slide-toggle>
                        <button mat-stroked-button color="warn" (click)="user.tasks.splice(taskIndex, 1);">
                            Görevi Sil
                        </button>
                    </div>
                </div>
                <div fxLayout="row" *ngIf="task.module === 'uploader'">
                    <mat-form-field fxFlex="15">
                        <input matInput
                               autocapitalize="none"
                               placeholder="Zamanlayıcı (cron)"
                               [(ngModel)]="task.options.cron"
                               name='Başlık'>
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <input matInput
                               type="text"
                               placeholder="Klasör"
                               [(ngModel)]='task.options.folder'
                               name='textColumn'>
                    </mat-form-field>
                    <mat-form-field fxFlex="25">
                        <input matInput
                               type="text"
                               placeholder="Ftp Anahtarı"
                               [(ngModel)]='task.options.ftpKey'
                               name='valueColumn'>
                    </mat-form-field>
                </div>
            </mat-card>

            <div fxLayout="row" *ngIf="loading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <ng-container *ngIf="!loading">

                <mp-header title="Sunucu tarafında çalışan zamanlanmış görevler hazırlar.">
                    <button mat-icon-button color="primary" (click)="addData(task)">
                        <mat-icon>add</mat-icon>
                    </button>
                </mp-header>
                <mat-accordion>
                    <ng-container *ngFor="let dataItem of task.data;let dataItemIndex = index;">
                        <mat-expansion-panel expanded="false">
                            <mat-expansion-panel-header>
                                <mat-panel-title fxFlex>
                                    {{dataItem.processKey || 'İşlem Anahtarı Seçin'}}
                                </mat-panel-title>
                                <mat-panel-description fxFlex>
                                    Görev Parametreleri
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div fxLayout="column">
                                <div fxLayout="row">
                                    <mat-form-field fxFlex>
                                        <mat-select placeholder="İşlem Seçin"
                                                    [(ngModel)]="dataItem.processKey">
                                            <mat-option [value]="null">Seçin</mat-option>
                                            <mat-option *ngFor="let process of processes" [value]="process.processKey">
                                                {{process.title}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div class="action">
                                        <button mat-stroked-button color="warn"
                                                (click)="task.data.splice(dataItemIndex, 1);">
                                            İşlemi Sil
                                        </button>
                                    </div>
                                </div>
                                <mat-card class="parameter-container"
                                          *ngFor="let parameter of dataItem.parameters;let parameterIndex = index;">
                                    <mat-card-content fxLayout="column">
                                        <div fxLayout="row">
                                            <mat-form-field fxFlex *ngIf="dataItem.processKey">
                                                <mat-select placeholder="Sorgu Seçin"
                                                            [(ngModel)]="parameter.queryKey">
                                                    <mat-option [value]="null">Seçin</mat-option>
                                                    <mat-option
                                                        *ngFor="let queryItem of getQueryItems(dataItem.processKey)"
                                                        [value]="queryItem.queryKey">
                                                        {{queryItem.title}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <div class="action">
                                                <button mat-stroked-button color="warn"
                                                        (click)="dataItem.parameters.splice(parameterIndex, 1);">
                                                    Sorguyu Sil
                                                </button>
                                            </div>
                                        </div>
                                        <div fxLayoutGap="10px grid" fxLayoutAlign="flex-start stretch">
                                            <ng-container
                                                *ngFor="let paramName of getParamNames(dataItem.processKey, parameter.queryKey)">

                                                <mat-form-field fxFlex="25">
                                                    <input matInput
                                                           type="text"
                                                           [placeholder]="'$$' + paramName"
                                                           [(ngModel)]='parameter.values[paramName]'
                                                           name='textColumn'>
                                                </mat-form-field>
                                            </ng-container>
                                        </div>
                                    </mat-card-content>
                                </mat-card>

                                <div fxFlex>
                                    <button mat-button color="primary" (click)="dataItem.parameters.push({values: {}})">
                                        <mat-icon>add</mat-icon>
                                        Query Ekle
                                    </button>
                                </div>

                            </div>
                        </mat-expansion-panel>
                    </ng-container>
                </mat-accordion>

            </ng-container>

        </mat-tab>
    </mat-tab-group>
</div>
