<mp-header [breadcrumbs]="[
    {displayName: 'Kullanıcılar', route: '/user/list'},
    {displayName: user.username, route: '/user/list'},
    {displayName: 'Veritabanı Yönetimi'}
]">
    <button mat-icon-button color="primary" (click)="addDatabaseItem()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
</mp-header>
<div class="content">
    <mat-card>
        <mat-card-content>
            <div fxLayout="column">
                <p>İşlem Listeleri İçerisindeki Veritabanı Seçimini Kolaylaştırır.</p>
                <div *ngFor="let db of user.dbList; let i = index;">
                    <mat-form-field fxFlex="25">
                        <input matInput
                               autocapitalize="words"
                               placeholder="Başlık"
                               [(ngModel)]="db.title"
                               name='fullname'>
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <input matInput placeholder="Veritabanı Anahtarı" type="text" [(ngModel)]="db.key">
                    </mat-form-field>
                    <button mat-icon-button (click)="user.dbList.splice(i, 1)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
