@import "~src/scss/theme";

.alert {
    border-radius: 6px;
    margin: 12px 0;
    padding: 12px 12px;
    color: mat-color($app-primary, A100) !important;
}

.primary {
    border: 3px solid mat-color($app-primary, A100) !important;
}

.secondary {
    border: 3px solid mat-color($app-warn, 800) !important;
}

.warn {
    border: 3px solid mat-color($app-accent, 800) !important;
}
