<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="assets/img-01.png" alt="IMG">
            </div>

            <form class="login100-form validate-form">
                <span class="login100-form-title"> Yönetici Girişi </span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" placeholder="Kullanıcı Adı" [(ngModel)]="username"
                           name="username">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Parola Zorunludur!">
                    <input class="input100" type="password" placeholder="Parola" [(ngModel)]="password"
                           name="ppassword">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="login()" [disabled]="loading">
                        {{loading ? 'GİRİŞ YAPILIYOR...' : 'GİRİŞ'}}
                    </button>
                </div>

<!--
                <div class="text-center p-t-12">
						<span class="txt1">
							Unuttum
						</span>
                    <a class="txt2" href="#">
                        Kullanıcı Adı / Parola?
                    </a>
                </div>

                <div class="text-center p-t-136">
                    <a class="txt2" href="#">
                        Yeni Hesap Oluştur
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
-->
            </form>
        </div>
    </div>
</div>
