@import '~src/scss/theme';

:host {
    display: flex;
    flex-direction: column;
    outline: none;
    width: 100%;
    cursor: pointer;

    .mat-list-item.active {
        cursor: default;
        background-color: mat-color($mat-grey, 500, .7) !important;
    }

    &:hover,
    &:focus {
        > .mat-list-item:not(.expanded) {
            background-color: mat-color($mat-grey, 500, .4) !important;
        }
    }

    mat-list-item {
        font-size: 11px/15px !important;
        height: 34px !important;

        mat-icon.routeIcon {
            margin-right: 20px;
        }
    }

}
