<mat-divider *ngIf="item.divider && item.divider.before"></mat-divider>
<mat-list-item
    (click)="onItemSelected(item)"
    [class.active]="item.route ? router.isActive(item.route, true) : false"
    [class.expanded]="expanded"
>
    <mat-icon class="routeIcon">{{item.iconName}}</mat-icon>
    {{item.displayName}}
    <span *ngIf="item.children && item.children.length" fxFlex>
    <span fxFlex></span>
    <mat-icon *ngIf="isParent()" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</mat-list-item>
<mat-action-list *ngIf="expanded" [style.padding-left]="(depth * 12) + 'px'">
    <mp-drawer-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1"></mp-drawer-item>
</mat-action-list>
<mat-divider *ngIf="item.divider && item.divider.after"></mat-divider>
