<mp-header [breadcrumbs]="[
    {displayName: 'Kullanıcılar', route: '/process/users'},
    {displayName: user.username, route: '/process/users'},
    {displayName: 'İşlemler', route: '/process/list'},
    {displayName: processItem.title, route: '/process/list'},
    {displayName: 'Sorgular'}
]">
    <button mat-icon-button color="primary" (click)="addQueryItem()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
</mp-header>
<div class="content">
    <mat-tab-group *ngIf="processItem" animationDuration="0ms" (selectedTabChange)="changeTabs()">
        <mat-tab *ngFor="let queryItem of processItem.queryItems;let queryIndex = index;" [label]="queryItem.title">
            <mat-card>
                <div fxLayout="row">
                    <mat-form-field fxFlex>
                        <input matInput
                               autocapitalize="none"
                               placeholder="İşlem Adı"
                               [(ngModel)]='queryItem.title'
                               name='email'>
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <input matInput
                               type="text"
                               placeholder="İşlem Anahtarı"
                               [(ngModel)]='queryItem.queryKey'
                               name='username'>
                    </mat-form-field>
                    <div class="action">
                        <mat-slide-toggle [(ngModel)]="queryItem.loopQuery">Tekrarlanabilir Sorgu</mat-slide-toggle>
                        <button mat-stroked-button color="warn" (click)="processItem.queryItems.splice(queryIndex, 1);">
                            Sorguyu Sil
                        </button>
                    </div>
                </div>
                <div fxLayout="row" *ngIf="!loading">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                <div fxLayout="row" *ngIf="loading">
                    <ngx-codemirror [(ngModel)]="queryItem.command" [options]="{
                    lineNumbers: true,
                    theme: 'darcula',
                    mode: 'sql'
                }"></ngx-codemirror>
                </div>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <h4>Sorgu içerisinde kullanılan parametreler.</h4>
                </mat-card-header>
                <mat-card-content>
                    <mp-parameters-manager
                        [user]="user"
                        [process]="processItem"
                        [(queryItem)]="queryItem"
                    >
                    </mp-parameters-manager>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <h4>Açılır Menü Veri İşleme Parametreleri</h4>
                </mat-card-header>
                <mat-card-content>
                    <mp-select-manager [(select)]="queryItem.select"></mp-select-manager>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <h4>Tablo Veri İşleme Parametreleri</h4>
                </mat-card-header>
                <mat-card-content>
                    <mp-table-manager [(table)]="queryItem.table"></mp-table-manager>
                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>
