@import '~src/scss/theme';

.parameter-item {
    border: 2px solid mat-color($app-primary, 200);
    border-radius: 4px;
    width: 200px;

    h1, h2, h3, h4, h5 {
        color: mat-color($app-primary, 200) !important;
    }

    p {
        color: mat-color($app-primary, 300) !important;
    }
}

mat-card {
    margin-bottom: 14px;
}
