<mp-header [breadcrumbs]="[
    {displayName: 'Kategoriler', route: '/category/users'},
    {displayName: user.username, route: '/category/users'},
    {displayName: 'Kategori Ağacı'}
]">
    <button mat-icon-button color="primary" (click)="showAddDialog()">
        <mat-icon>add</mat-icon>
    </button>
</mp-header>
<div class="content">
    <mat-card>
        <mat-action-list>
            <mp-category-item (refresh)="load()" *ngFor="let category of categories"
                              [category]="category"></mp-category-item>
        </mat-action-list>
    </mat-card>
</div>
