<mp-header [breadcrumbs]="[
    {displayName: 'Kullanıcılar', route: '/user/list'},
    {displayName: user.username, route: '/user/list'},
    {displayName: 'Detaylar'}
]">
    <button mat-icon-button color="primary" (click)="addDetailItem()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
</mp-header>
<div class="content">
    <mat-card>
        <mat-card-content>
            <div fxLayout="column" fxFlexAlign="left">
                <p>Kullanıcı hakkında daha fazla detay girmek ister misiniz?</p>
                <div *ngFor="let detail of user.details; let i = index;">
                    <mat-form-field fxFlex="25">
                        <input matInput
                               autocapitalize="words"
                               placeholder="Başlık"
                               [(ngModel)]="detail['title']"
                               name='fullname'>
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <input matInput
                               autocapitalize="none"
                               placeholder="Değer"
                               [(ngModel)]="detail['value']"
                               name='detail'>
                    </mat-form-field>
                    <button mat-icon-button (click)="user.details.splice(i, 1)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
