@import '~src/scss/theme';

.phone-ui {
    position: relative;
    width: 340px;
    height: 750px;
    background-image: url("../../../assets/phone-ui.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 57px 0 55px 0;

    div {
        overflow-x: hidden;
        overflow-y: auto;
    }

    gridster-item {
        mat-select {
            margin-bottom: 8px;
        }

        background-color: mat-color($mat-grey, 800) !important;
        display: flex;
        flex: 1 1 0;

        padding: 18px 12px 8px 12px;

        .button-container {
            overflow: hidden;
        }
    }
}
