<mp-header [breadcrumbs]="[
    {displayName: 'Kullanıcılar', route: '/process/users'},
    {displayName: user.username, route: '/process/users'},
    {displayName: 'MP Analysis - Dashboard'}
]">
    <button mat-icon-button color="primary" (click)="addItem()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
</mp-header>
<div class="content" fxLayoutAlign="center center" *ngIf="userDashboard">
    <div class="phone-ui">
        <div fxFlex>
            <gridster [options]="options">
                <gridster-item fxLayout="row"
                               *ngFor="let item of dashboard;let i = index;"
                               [item]="item">
                    <div>
                        <mat-select placeholder="İşlem Seçin"
                                    [(ngModel)]="item.propName.processKey">
                            <mat-option *ngFor="let processItem of processList"
                                        [value]="processItem.processKey">{{processItem.title}}
                            </mat-option>
                        </mat-select>
                        <mat-select placeholder="Hızlı Erişim Seçin"
                                    [(ngModel)]="item.propName.presentParamKey">
                            <mat-option *ngFor="let presentParam of getPresentParams(item.propName.processKey)"
                                        [value]="presentParam.key">{{presentParam.title}}
                            </mat-option>
                        </mat-select>
                        <mat-select placeholder="Grafik Seçin"
                                    [(ngModel)]="item.propName.chartKey">
                            <mat-option *ngFor="let presentParam of getCharts(item.propName.processKey)"
                                        [value]="presentParam.key">{{presentParam.title}}
                            </mat-option>
                        </mat-select>
                        <div class="button-container" fxLayoutAlign="center center">
                            <button mat-icon-button (click)="dashboard.splice(i, 1);">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button class="drag-handler">
                                <mat-icon>open_with</mat-icon>
                            </button>
                        </div>
                    </div>
                </gridster-item>
            </gridster>
        </div>
    </div>
</div>
