<div fxLayout="column">
    <div fxLayout="row" *ngFor="let row of table; let i = index">
        <mat-form-field fxFlex>
            <input matInput
                   placeholder="Etiket"
                   [(ngModel)]='row.label'
                   name='label'>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput
                   type="text"
                   placeholder="Değer Sütunu"
                   [(ngModel)]='row.column'
                   name='textColumn'>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput
                   type="text"
                   placeholder="Genişlik"
                   [(ngModel)]='row.width'
                   name='valueColumn'>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput
                   type="text"
                   placeholder="Virgüllü Değerler"
                   [(ngModel)]='row.toFixed'
                   name='valueColumn'>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Hizala" [(ngModel)]='row.align'>
                <mat-option *ngFor="let align of aligns" [value]="align.value">
                    {{align.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="action">
            <button mat-icon-button color="warn" (click)="table.splice(i, 1)">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
        <button mat-stroked-button (click)="table.push({align: 'left'})">
            Sütun Ekle
        </button>
        <button mat-stroked-button color="warn" (click)="table.splice(0, table.length)">
            Temizle
        </button>
    </div>
</div>
