<h2 mat-dialog-title>Kategori Ekle</h2>
<mat-dialog-content [style.overflow]="'hidden'" fxLayout="column">
    <mat-form-field>
        <input matInput
               autocapitalize="words"
               placeholder="Başlık"
               [(ngModel)]='category.title'
               name='fullname'>
    </mat-form-field>
    <mat-form-field>
        <input matInput
               autocapitalize="none"
               placeholder="İcon"
               [(ngModel)]='category.icon'
               name='email'>
        <span matSuffix><mat-icon fontSet="fa" [fontIcon]="category.icon"></mat-icon></span>
    </mat-form-field>
    <mat-form-field>
        <input matInput
               type="number"
               placeholder="Sıra No"
               [(ngModel)]='category.order'
               name='username'>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <mat-spinner *ngIf="loading" [diameter]="16" color="warn"></mat-spinner>
    <button mat-button mat-dialog-close cdkFocusInitial>İptal</button>
    <button mat-button [disabled]="loading" (click)="save()">Kaydet</button>
</mat-dialog-actions>
