<div fxLayout="row">
    <mat-form-field fxFlex>
        <input matInput
               placeholder="Etiket"
               [(ngModel)]='select.label'
               name='label'>
    </mat-form-field>
    <mat-form-field fxFlex>
        <input matInput
               type="text"
               placeholder="Metin Sütunu"
               [(ngModel)]='select.textColumn'
               name='textColumn'>
    </mat-form-field>
    <mat-form-field fxFlex>
        <input matInput
               type="text"
               placeholder="Değer Sütunu"
               [(ngModel)]='select.valueColumn'
               name='valueColumn'>
    </mat-form-field>
    <div class="action">
        <button mat-icon-button color="warn" (click)="clear()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
