<mp-header [breadcrumbs]="[
    {displayName: 'Kullanıcılar', route: '/user/list'},
    {displayName: user.username, route: '/user/list'},
    {displayName: 'Bilgiler'}
]">
    <button mat-icon-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
</mp-header>
<div class="content">
    <mat-card>
        <mat-card-content>
            <div fxLayout="column">
                <div fxLayout="row">
                    <mat-form-field fxFlex="50">
                        <input matInput
                               autocapitalize="words"
                               placeholder="Adı Soyadı"
                               [(ngModel)]='user.fullname'
                               name='fullname'>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input matInput
                               autocapitalize="none"
                               placeholder="E-Posta"
                               [(ngModel)]='user.email'
                               name='email'>
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field fxFlex="50">
                        <input matInput
                               autocapitalize="none"
                               placeholder="Kullanıcı Adı"
                               [(ngModel)]='user.username'
                               name='username'>
                    </mat-form-field>
                    <ng-container *ngIf="!companies">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </ng-container>
                    <mat-form-field fxFlex="50" *ngIf="!!companies">
                        <mat-select placeholder="Bağlı Olduğu Şirket"
                                    [(ngModel)]="user.companyId"
                                    name="roles">
                            <mat-option [value]="null">Seçin</mat-option>
                            <mat-option *ngFor="let company of companies"
                                        [value]="company._id">{{company.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-slide-toggle
                        fxFlex="25"
                        [(ngModel)]='user.active'
                        [checked]="user.active"
                        color="primary">
                        Aktif
                    </mat-slide-toggle>
                    <mat-slide-toggle
                        fxFlex="25"
                        [disabled]="!(false | role: 'root')"
                        [(ngModel)]='user.verified'
                        [checked]="user.verified"
                        color="warn"
                    >
                        Doğrula
                    </mat-slide-toggle>
                    <div fxFlex="50">
                        <button
                            mat-button
                            [disabled]="!(false | role: 'root')"
                            (click)="toggleRole('admin')"
                        >
                            Admin {{isRole('admin') ? '' : 'Değil'}}
                        </button>
                        <button
                            mat-button
                            [disabled]="!(false | role: 'root')"
                            (click)="toggleRole('user')"
                        >
                            Kullanıcı {{isRole('user') ? '' : 'Değil'}}
                        </button>
                    </div>
                </div>
                <div fxLayout="row">
                    <mat-form-field fxFlex="50">
                        <input
                            matInput
                            placeholder="Parola"
                            [(ngModel)]='user.password'
                            name='password'
                            type="password"
                        >
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input
                            matInput
                            placeholder="Parola (Tekrar)"
                            [(ngModel)]='user.passwordRepeat'
                            name='passwordRepeat'
                            type="password"
                        >
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
