<mat-dialog-content ngx-auto-scroll lock-y-offset="10" observe-attributes>
    <div fxLayout="row">
        <mat-form-field>
            <span matPrefix><mat-icon [fontIcon]="chartItem.icon"></mat-icon> &nbsp;</span>
            <input matInput placeholder="İcon" [(ngModel)]="chartItem.icon">
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput
                   autocapitalize="none"
                   placeholder="Başlık"
                   [(ngModel)]='chartItem.title'
                   name="title">
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field fxFlex>
            <input matInput
                   autocapitalize="none"
                   placeholder="Kategori Sütunu"
                   [(ngModel)]='chartItem.xColumnName'
                   name="text"/>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput
                   autocapitalize="none"
                   placeholder="Liste Başlık Sütunu"
                   [(ngModel)]='chartItem.titleColumnName'
                   name="text"/>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput
                   autocapitalize="none"
                   placeholder="Liste Alt Başlık Sütunu"
                   [(ngModel)]='chartItem.subtitleColumnName'
                   name="text"/>
        </mat-form-field>
<!--
        <div class="action">
            <mat-slide-toggle [(ngModel)]="chartItem.isDate">Veri tarih mi?</mat-slide-toggle>
        </div>
-->
    </div>
    <div fxLayout="row" *ngFor="let cfg of chartItem.series;let i = index">
        <!--        TODO title, subtitle alanlarının da eklenmesi gerekiyor.-->
        <div class="">
            <mat-form-field fxFlex>
                <mat-select placeholder="Grafik Tipi" [(ngModel)]="cfg.type" fxFlex>
                    <mat-option value="bar">Bar</mat-option>
                    <mat-option value="line">Line</mat-option>
                    <mat-option value="spline">Spline</mat-option>
                    <mat-option value="area">Area</mat-option>
                    <mat-option value="spline-area">Spline Area</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput
                       autocapitalize="none"
                       placeholder="Metin"
                       [(ngModel)]='cfg.text'
                       name="text">
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput
                       autocapitalize="none"
                       placeholder="Veri Sütunu"
                       [(ngModel)]='cfg.columnName'
                       name="columnName">
            </mat-form-field>
            <!--<div class="action">-->
            <!--    <mat-slide-toggle [(ngModel)]="cfg.isDate">Veri tarih mi?</mat-slide-toggle>-->
            <!--</div>-->
            <div class="action">
                <button mat-icon-button color="warn" (click)="removeConfig(i);">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div fxLayout="row">
        <button mat-stroked-button (click)="addChart()">
            Yeni Seri Ekle
        </button>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="chartItem">Kaydet</button>
    <button mat-button mat-dialog-close cdkFocusInitial>İptal</button>
</mat-dialog-actions>
