<mp-header [breadcrumbs]="[
    {displayName: 'Kullanıcılar', route: '/user/list'},
    {displayName: user.username, route: '/user/list'},
    {displayName: 'Şirket Yönetimi'}
]">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ara">
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
</mp-header>
<div class="content">
    <mp-alert>
        Herhangi bir şirkete yönetici olarak atanan kullanıcının rolü <strong>admin</strong> olarak güncellenecektir.
    </mp-alert>

    <div class="mat-elevation-z2">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Şirket Adı</mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="title">{{row.title}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>İşlemler</mat-header-cell>
                <mat-cell *matCellDef="let row" class="right" data-label="">
                    <button mat-button *ngIf="!isAdminCompany(row)" (click)="setAdminCompany(row);">Ekle</button>
                    <button mat-button *ngIf="isAdminCompany(row)" (click)="removeAdminCompany(row);">Çıkart</button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
    </div>
</div>
