<mp-header [breadcrumbs]="[
    {displayName: 'Kullanıcılar', route: '/process/users'},
    {displayName: user.username, route: '/process/users'},
    {displayName: 'İşlemler', route: '/process/list'},
    {displayName: processItem.title, route: '/process/list'},
    {displayName: 'Genel Bilgiler'}
]">
    <button mat-button color="primary" (click)="save()">Kaydet</button>
</mp-header>
<div class="content">
    <mat-card>
        <mat-card-content fxLayout="column">
            <div fxLayout="row">
                <mat-form-field fxFlex>
                    <input matInput
                           autocapitalize="words"
                           placeholder="İşlem Adı"
                           [(ngModel)]="processItem.title"
                           name='fullname'>
                </mat-form-field>
                <div class="action">
                    <mat-slide-toggle [(ngModel)]="processItem.hidden">Gizli İşlem</mat-slide-toggle>
                </div>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex>
                    <input matInput
                           autocapitalize="none"
                           placeholder="İşlem Listesi Anahtarı"
                           [(ngModel)]='processItem.processKey'
                           name='email'>
                </mat-form-field>
                <mat-form-field fxFlex="20">
                    <input matInput
                           type="text"
                           placeholder="İcon"
                           [(ngModel)]='processItem.icon'
                           name='username'>
                    <span matSuffix><mat-icon [fontIcon]="processItem.icon"></mat-icon></span>
                </mat-form-field>
            </div>
            <mat-form-field>
                <input type="text"
                       placeholder="Kategori"
                       aria-label="Kategori"
                       matInput
                       [formControl]="categoryControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="categorySelect($event.option.value)">
                    <mat-option *ngFor="let category of flatCategories"
                                [value]="category"
                                [style.padding-left]="(category.depth * 16) + 'px'">
                        {{category.title}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Sistem Tipi" [(value)]='processItem.systemType'>
                    <mat-option *ngFor="let types of systemTypes" [value]="types.value">
                        {{types.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Veri Erişim Noktası"
                            [(value)]='processItem.dbKey'>
                    <mat-option *ngFor="let dbItem of user.dbList" [value]="dbItem.key">
                        {{dbItem.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</div>
