<mp-header [breadcrumbs]="[
    {displayName: 'Kullanıcılar', route: '/user/list'},
    {displayName: user.username, route: '/user/list'},
    {displayName: 'İzinler'}
]">
    <button (click)="save()" color="primary" mat-icon-button>
        <mat-icon>save</mat-icon>
    </button>
</mp-header>
<div class="content action">
    <mat-card *ngIf="(user | role: 'admin')">
        <mat-card-header>
            <mat-card-title>
                Şirket İzinleri
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row">
                <mat-slide-toggle
                    fxFlex="20"
                    [(ngModel)]="user.permission.companies.add"
                    [checked]="user.permission.companies.add"
                    color="primary"
                >
                    Şirket Ekle
                </mat-slide-toggle>
                <mat-slide-toggle
                    fxFlex="20"
                    [(ngModel)]="user.permission.companies.edit"
                    [checked]="user.permission.companies.edit"
                    color="primary"
                >
                    Şirket Düzenle
                </mat-slide-toggle>
                <mat-slide-toggle
                    fxFlex="20"
                    [(ngModel)]="user.permission.companies.delete"
                    [checked]="user.permission.companies.delete"
                    color="primary"
                >
                    Şirket Sil
                </mat-slide-toggle>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="(user | role: 'admin')">
        <mat-card-header>
            <mat-card-title>
                Kullanıcı İzinleri
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row">
                <mat-slide-toggle
                    fxFlex="20"
                    [(ngModel)]="user.permission.users.add"
                    [checked]="user.permission.users.add"
                    color="primary"
                >
                    Kullanıcı Ekle
                </mat-slide-toggle>
                <mat-slide-toggle
                    fxFlex="20"
                    [(ngModel)]="user.permission.users.copy"
                    [checked]="user.permission.users.copy"
                    color="primary"
                >
                    Kullanıcı Kopyala
                </mat-slide-toggle>
                <mat-slide-toggle
                    fxFlex="20"
                    [(ngModel)]="user.permission.users.edit"
                    [checked]="user.permission.users.edit"
                    color="primary"
                >
                    Kullanıcı Düzenle
                </mat-slide-toggle>
                <mat-slide-toggle
                    fxFlex="20"
                    [(ngModel)]="user.permission.users.delete"
                    [checked]="user.permission.users.delete"
                    color="primary"
                >
                    Kullanıcı Sil
                </mat-slide-toggle>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>
                MP-Analysis İzinleri
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row">
                <mat-slide-toggle
                    fxFlex="20"
                    [(ngModel)]="user.permission.mpAnalysis.showTasks"
                    [checked]="user.permission.mpAnalysis.showTasks"
                    color="primary"
                >
                    Görevler
                </mat-slide-toggle>
                <mat-slide-toggle
                    fxFlex="20"
                    [(ngModel)]="user.permission.mpAnalysis.changePassword"
                    [checked]="user.permission.mpAnalysis.changePassword"
                    color="primary"
                >
                    Parola Değiştir
                </mat-slide-toggle>
                <mat-slide-toggle
                    fxFlex="20"
                    [(ngModel)]="user.permission.mpAnalysis.changeDefaultEndpoint"
                    [checked]="user.permission.mpAnalysis.changeDefaultEndpoint"
                    color="primary"
                >
                    Erişim noktasını değiştir.
                </mat-slide-toggle>
            </div>
        </mat-card-content>
    </mat-card>
</div>
