<mat-dialog-content ngx-auto-scroll lock-y-offset="10" observe-attributes>
    <div [fxLayout]="param.type === 'select' ? 'row' : 'column'">
        <mat-form-field fxFlex>
            <mat-select placeholder="Parametre Adı"
                        [(ngModel)]="param.name">
                <mat-option [value]="null">Seçin</mat-option>
                <mat-option *ngFor="let match of datas.matchs" [value]="match">$${{match}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput
                   autocapitalize="none"
                   placeholder="Başlık"
                   [(ngModel)]='param.title'
                   name='Başlık'>
        </mat-form-field>
        <mat-form-field fxFlex>
            <mat-select placeholder="Parametre Tipi"
                        [(ngModel)]="param.type">
                <mat-option [value]="null">Seçin</mat-option>
                <mat-option *ngFor="let parameterType of parameterTypes" [value]="parameterType.value">
                    {{parameterType.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex *ngIf="param.type === 'process'">
            <mat-select placeholder="Kaynak"
                        [(ngModel)]="param.source">
                <mat-option [value]="null">Seçin</mat-option>
                <mat-option *ngFor="let queryItem of queryItems" [value]="queryItem.queryKey">
                    {{queryItem.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="column" *ngIf="param.type === 'select'">
        <div fxLayout="row" *ngFor="let select of param.values;let i = index;">
            <mat-form-field fxFlex>
                <input matInput
                       type="text"
                       placeholder="Metin Sütunu"
                       [(ngModel)]='select.text'
                       name='textColumn'>
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput
                       type="text"
                       placeholder="Değer Sütunu"
                       [(ngModel)]='select.value'
                       name='valueColumn'>
            </mat-form-field>
            <div class="action">
                <button mat-icon-button color="warn" (click)="param.values.splice(i, 1);">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <button mat-stroked-button (click)="param.values ? param.values.push({}) : param.values = [{}]">
                Ekle
            </button>
            <button mat-stroked-button color="warn" (click)="param.values.splice(0, param.values.length)">
                Temizle
            </button>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button  (click)="save()">Kaydet</button>
    <button mat-button mat-dialog-close cdkFocusInitial>İptal</button>
</mat-dialog-actions>
