<mp-header [breadcrumbs]="[
     {displayName: 'Kullanıcılar', route: '/process/users'},
    {displayName: user.username, route: '/process/users'},
    {displayName: 'İşlemler', route: '/process/list'},
    {displayName: processItem.title, route: '/process/list'},
   {displayName: 'Grafikler'}
]">
    <button mat-icon-button color="primary" (click)="show()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
</mp-header>
<div class="content">
    <div
        fxFlex="33" [fxFlex.lt-md]="50"
        *ngFor="let chart of charts; let i = index;">
        <mat-card>
            <div>
                <button mat-icon-button>
                    <mat-icon [fontIcon]="chart.icon"></mat-icon>
                </button>
                <mat-card-title-group>
                    <mat-card-title>
                        {{ chart.title }}
                    </mat-card-title>
                </mat-card-title-group>
                <div fxFlex></div>
                <button mat-icon-button
                        [color]="chart.default && 'primary'"
                        (click)="setDefault(i);">
                    <mat-icon class="default">touch_app</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="show(i)">Düzenle</button>
                    <button mat-menu-item (click)="delete(i);">Sil</button>
                </mat-menu>
            </div>
        </mat-card>
    </div>
</div>
