<mp-header [breadcrumbs]="[
    {displayName: 'Şirketler'}
]">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ara">
    </mat-form-field>
    <button mat-button color="primary"
            [disabled]="!(false | perm: 'companies.add')"
            (click)="show()"
    >
        <mat-icon>add</mat-icon>
        Ekle
    </button>
</mp-header>
<div class="content">
    <div class="mat-elevation-z2">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Şirket</th>
                <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>

            <ng-container matColumnDef="userLimit">
                <th mat-header-cell *matHeaderCellDef>Kullanıcı Limiti</th>
                <td mat-cell *matCellDef="let element">{{element.userLimit}}</td>
            </ng-container>

            <ng-container matColumnDef="expiredTime">
                <th mat-header-cell *matHeaderCellDef>Bitiş Süresi</th>
                <td mat-cell *matCellDef="let element">
                    {{element.expiredTime}}
                </td>
            </ng-container>

            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef>Aktif</th>
                <td mat-cell *matCellDef="let element">{{element.active}}</td>
            </ng-container>

            <ng-container matColumnDef="verified">
                <th mat-header-cell *matHeaderCellDef>Doğrulanmış Şirket</th>
                <td mat-cell *matCellDef="let element">{{element.verified}}</td>
            </ng-container>

            <ng-container matColumnDef="deleted">
                <th mat-header-cell *matHeaderCellDef>Silindi!</th>
                <td mat-cell *matCellDef="let element">{{element.deleted === false ? 'Aktif' : 'Silindi'}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> İşlemler</th>
                <td mat-cell *matCellDef="let element; let i = index" [style.width]="'130px'">
                    <button mat-icon-button
                            [disabled]="!(false | perm: 'companies.edit')"
                            matTooltip="Düzenle"
                            matTooltipPosition="below"
                            (click)="show(element);">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        [disabled]="!(false | perm: 'companies.delete')"
                        mat-icon-button
                        matTooltip="Sil"
                        matTooltipPosition="below"
                        (click)="delete(i)"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>
</div>
