<mp-header [breadcrumbs]="[
    {displayName: 'Kullanıcılar'}
]">

    <button mat-icon-button color="primary" (click)="showNewUserDialog()">
        <mat-icon>add</mat-icon>
    </button>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ara">
    </mat-form-field>
</mp-header>
<div class="content">
    <div class="mat-elevation-z2">
        <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="company.title">
                <th mat-header-cell *matHeaderCellDef>Şirket</th>
                <td mat-cell *matCellDef="let element">{{element.company.title}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="fullname">
                <th mat-header-cell *matHeaderCellDef>Adı Soyadı</th>
                <td mat-cell *matCellDef="let element">{{element.fullname}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Kullanıcı Adı</th>
                <td mat-cell *matCellDef="let element">{{element.username}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>E-Posta</th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef>Aktif</th>
                <td mat-cell *matCellDef="let element">{{element.active}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> İşlemler</th>
                <td mat-cell *matCellDef="let element; let i = index" [style.width]="'130px'">
                    <button
                        [disabled]="!(false | perm: 'users.copy')"
                        mat-icon-button
                        matTooltip="Klon Oluştur"
                        matTooltipPosition="below"
                        (click)="showNewUserDialog(element);"
                    >
                        <mat-icon>add_to_photos</mat-icon>
                    </button>
                    <button mat-icon-button
                            matTooltip="Düzenle"
                            matTooltipPosition="below"
                            (click)="edit(element);">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button
                            matTooltip="Sil"
                            matTooltipPosition="below"
                            (click)="delete(i)">
                        <mat-icon>close</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>
