$icomoon-font-family: "MP-API" !default;
$icomoon-font-path: "fonts" !default;

$mp-sunrise: "\e900";
$mp-sun: "\e901";
$mp-moon: "\e902";
$mp-sun1: "\e903";
$mp-windy: "\e904";
$mp-wind: "\e905";
$mp-snowflake: "\e906";
$mp-cloudy: "\e907";
$mp-cloud: "\e908";
$mp-weather: "\e909";
$mp-weather1: "\e90a";
$mp-weather2: "\e90b";
$mp-lines: "\e90c";
$mp-cloud1: "\e90d";
$mp-lightning: "\e90e";
$mp-lightning1: "\e90f";
$mp-rainy: "\e910";
$mp-rainy1: "\e911";
$mp-windy1: "\e912";
$mp-windy2: "\e913";
$mp-snowy: "\e914";
$mp-snowy1: "\e915";
$mp-snowy2: "\e916";
$mp-weather3: "\e917";
$mp-cloudy1: "\e918";
$mp-cloud2: "\e919";
$mp-lightning2: "\e91a";
$mp-sun2: "\e91b";
$mp-moon1: "\e91c";
$mp-cloudy2: "\e91d";
$mp-cloud3: "\e91e";
$mp-cloud4: "\e91f";
$mp-lightning3: "\e920";
$mp-rainy2: "\e921";
$mp-rainy3: "\e922";
$mp-windy3: "\e923";
$mp-windy4: "\e924";
$mp-snowy3: "\e925";
$mp-snowy4: "\e926";
$mp-weather4: "\e927";
$mp-cloudy3: "\e928";
$mp-lightning4: "\e929";
$mp-thermometer1: "\e92a";
$mp-compass1: "\e92b";
$mp-none: "\e92c";
$mp-Celsius: "\e92d";
$mp-Fahrenheit: "\e92e";
$mp-asterisk: "\f069";
$mp-plus2: "\f067";
$mp-question2: "\f128";
$mp-minus2: "\f068";
$mp-glass3: "\f000";
$mp-music2: "\f001";
$mp-search3: "\f002";
$mp-envelope-o: "\f003";
$mp-heart3: "\f004";
$mp-star2: "\f005";
$mp-star-o: "\f006";
$mp-user2: "\f007";
$mp-film2: "\f008";
$mp-th-large1: "\f009";
$mp-th: "\f00a";
$mp-th-list1: "\f00b";
$mp-check1: "\f00c";
$mp-close1: "\f00d";
$mp-remove1: "\f00d";
$mp-times1: "\f00d";
$mp-search-plus: "\f00e";
$mp-search-minus: "\f010";
$mp-power-off: "\f011";
$mp-signal: "\f012";
$mp-cog3: "\f013";
$mp-gear: "\f013";
$mp-trash-o: "\f014";
$mp-home5: "\f015";
$mp-file-o: "\f016";
$mp-clock-o: "\f017";
$mp-road2: "\f018";
$mp-download4: "\f019";
$mp-arrow-circle-o-down: "\f01a";
$mp-arrow-circle-o-up: "\f01b";
$mp-inbox1: "\f01c";
$mp-play-circle-o: "\f01d";
$mp-repeat1: "\f01e";
$mp-rotate-right: "\f01e";
$mp-refresh2: "\f021";
$mp-list-alt: "\f022";
$mp-lock3: "\f023";
$mp-flag4: "\f024";
$mp-headphones3: "\f025";
$mp-volume-off: "\f026";
$mp-volume-down1: "\f027";
$mp-volume-up1: "\f028";
$mp-qrcode1: "\f029";
$mp-barcode1: "\f02a";
$mp-tag1: "\f02b";
$mp-tags1: "\f02c";
$mp-book3: "\f02d";
$mp-bookmark2: "\f02e";
$mp-print1: "\f02f";
$mp-camera4: "\f030";
$mp-font1: "\f031";
$mp-bold2: "\f032";
$mp-italic2: "\f033";
$mp-text-height1: "\f034";
$mp-text-width2: "\f035";
$mp-align-left: "\f036";
$mp-align-center: "\f037";
$mp-align-right: "\f038";
$mp-align-justify: "\f039";
$mp-list4: "\f03a";
$mp-dedent: "\f03b";
$mp-outdent: "\f03b";
$mp-indent: "\f03c";
$mp-video-camera1: "\f03d";
$mp-image2: "\f03e";
$mp-photo1: "\f03e";
$mp-picture-o: "\f03e";
$mp-pencil4: "\f040";
$mp-map-marker: "\f041";
$mp-adjust1: "\f042";
$mp-tint: "\f043";
$mp-edit1: "\f044";
$mp-pencil-square-o: "\f044";
$mp-share-square-o: "\f045";
$mp-check-square-o: "\f046";
$mp-arrows: "\f047";
$mp-step-backward: "\f048";
$mp-fast-backward: "\f049";
$mp-backward3: "\f04a";
$mp-play1: "\f04b";
$mp-pause3: "\f04c";
$mp-stop4: "\f04d";
$mp-forward4: "\f04e";
$mp-fast-forward: "\f050";
$mp-step-forward: "\f051";
$mp-eject4: "\f052";
$mp-chevron-left1: "\f053";
$mp-chevron-right1: "\f054";
$mp-plus-circle: "\f055";
$mp-minus-circle: "\f056";
$mp-times-circle: "\f057";
$mp-check-circle: "\f058";
$mp-question-circle: "\f059";
$mp-info-circle: "\f05a";
$mp-crosshairs: "\f05b";
$mp-times-circle-o: "\f05c";
$mp-check-circle-o: "\f05d";
$mp-ban: "\f05e";
$mp-arrow-left3: "\f060";
$mp-arrow-right3: "\f061";
$mp-arrow-up3: "\f062";
$mp-arrow-down4: "\f063";
$mp-mail-forward: "\f064";
$mp-share4: "\f064";
$mp-expand: "\f065";
$mp-compress: "\f066";
$mp-exclamation-circle: "\f06a";
$mp-gift3: "\f06b";
$mp-leaf3: "\f06c";
$mp-fire1: "\f06d";
$mp-eye3: "\f06e";
$mp-eye-slash: "\f070";
$mp-exclamation-triangle: "\f071";
$mp-warning4: "\f071";
$mp-plane1: "\f072";
$mp-calendar2: "\f073";
$mp-random: "\f074";
$mp-comment1: "\f075";
$mp-magnet2: "\f076";
$mp-chevron-up: "\f077";
$mp-chevron-down: "\f078";
$mp-retweet: "\f079";
$mp-shopping-cart1: "\f07a";
$mp-folder3: "\f07b";
$mp-folder-open1: "\f07c";
$mp-arrows-v: "\f07d";
$mp-arrows-h: "\f07e";
$mp-bar-chart: "\f080";
$mp-bar-chart-o: "\f080";
$mp-twitter-square: "\f081";
$mp-facebook-square: "\f082";
$mp-camera-retro: "\f083";
$mp-key3: "\f084";
$mp-cogs2: "\f085";
$mp-gears: "\f085";
$mp-comments: "\f086";
$mp-thumbs-o-up: "\f087";
$mp-thumbs-o-down: "\f088";
$mp-star-half2: "\f089";
$mp-heart-o: "\f08a";
$mp-sign-out: "\f08b";
$mp-linkedin-square: "\f08c";
$mp-thumb-tack: "\f08d";
$mp-external-link: "\f08e";
$mp-sign-in: "\f090";
$mp-trophy2: "\f091";
$mp-github-square: "\f092";
$mp-upload5: "\f093";
$mp-lemon-o: "\f094";
$mp-phone3: "\f095";
$mp-square-o: "\f096";
$mp-bookmark-o: "\f097";
$mp-phone-square: "\f098";
$mp-twitter1: "\f099";
$mp-facebook3: "\f09a";
$mp-facebook-f: "\f09a";
$mp-github2: "\f09b";
$mp-unlock: "\f09c";
$mp-credit-card2: "\f09d";
$mp-feed2: "\f09e";
$mp-rss4: "\f09e";
$mp-hdd-o: "\f0a0";
$mp-bullhorn2: "\f0a1";
$mp-bell-o: "\f0a2";
$mp-certificate: "\f0a3";
$mp-hand-o-right: "\f0a4";
$mp-hand-o-left: "\f0a5";
$mp-hand-o-up: "\f0a6";
$mp-hand-o-down: "\f0a7";
$mp-arrow-circle-left: "\f0a8";
$mp-arrow-circle-right: "\f0a9";
$mp-arrow-circle-up: "\f0aa";
$mp-arrow-circle-down: "\f0ab";
$mp-globe1: "\f0ac";
$mp-wrench2: "\f0ad";
$mp-tasks: "\f0ae";
$mp-filter3: "\f0b0";
$mp-briefcase3: "\f0b1";
$mp-arrows-alt: "\f0b2";
$mp-group1: "\f0c0";
$mp-users2: "\f0c0";
$mp-chain: "\f0c1";
$mp-link4: "\f0c1";
$mp-cloud7: "\f0c2";
$mp-flask: "\f0c3";
$mp-cut: "\f0c4";
$mp-scissors3: "\f0c4";
$mp-copy2: "\f0c5";
$mp-files-o: "\f0c5";
$mp-paperclip: "\f0c6";
$mp-floppy-o: "\f0c7";
$mp-save1: "\f0c7";
$mp-square: "\f0c8";
$mp-bars: "\f0c9";
$mp-navicon: "\f0c9";
$mp-reorder1: "\f0c9";
$mp-list-ul: "\f0ca";
$mp-list-ol: "\f0cb";
$mp-strikethrough2: "\f0cc";
$mp-underline2: "\f0cd";
$mp-table3: "\f0ce";
$mp-magic: "\f0d0";
$mp-truck2: "\f0d1";
$mp-pinterest1: "\f0d2";
$mp-pinterest-square: "\f0d3";
$mp-google-plus-square: "\f0d4";
$mp-google-plus4: "\f0d5";
$mp-money: "\f0d6";
$mp-caret-down: "\f0d7";
$mp-caret-up: "\f0d8";
$mp-caret-left: "\f0d9";
$mp-caret-right: "\f0da";
$mp-columns: "\f0db";
$mp-sort1: "\f0dc";
$mp-unsorted: "\f0dc";
$mp-sort-desc: "\f0dd";
$mp-sort-down: "\f0dd";
$mp-sort-asc: "\f0de";
$mp-sort-up: "\f0de";
$mp-envelope: "\f0e0";
$mp-linkedin1: "\f0e1";
$mp-rotate-left: "\f0e2";
$mp-undo3: "\f0e2";
$mp-gavel1: "\f0e3";
$mp-legal: "\f0e3";
$mp-dashboard1: "\f0e4";
$mp-tachometer: "\f0e4";
$mp-comment-o: "\f0e5";
$mp-comments-o: "\f0e6";
$mp-bolt: "\f0e7";
$mp-flash1: "\f0e7";
$mp-sitemap: "\f0e8";
$mp-umbrella: "\f0e9";
$mp-clipboard3: "\f0ea";
$mp-paste2: "\f0ea";
$mp-lightbulb-o: "\f0eb";
$mp-exchange: "\f0ec";
$mp-cloud-download1: "\f0ed";
$mp-cloud-upload2: "\f0ee";
$mp-user-md: "\f0f0";
$mp-stethoscope: "\f0f1";
$mp-suitcase: "\f0f2";
$mp-bell2: "\f0f3";
$mp-coffee1: "\f0f4";
$mp-cutlery: "\f0f5";
$mp-file-text-o: "\f0f6";
$mp-building-o: "\f0f7";
$mp-hospital-o: "\f0f8";
$mp-ambulance: "\f0f9";
$mp-medkit: "\f0fa";
$mp-fighter-jet: "\f0fb";
$mp-beer1: "\f0fc";
$mp-h-square: "\f0fd";
$mp-plus-square: "\f0fe";
$mp-angle-double-left: "\f100";
$mp-angle-double-right: "\f101";
$mp-angle-double-up: "\f102";
$mp-angle-double-down: "\f103";
$mp-angle-left: "\f104";
$mp-angle-right: "\f105";
$mp-angle-up: "\f106";
$mp-angle-down: "\f107";
$mp-desktop: "\f108";
$mp-laptop2: "\f109";
$mp-tablet2: "\f10a";
$mp-mobile1: "\f10b";
$mp-mobile-phone: "\f10b";
$mp-circle-o: "\f10c";
$mp-quote-left: "\f10d";
$mp-quote-right: "\f10e";
$mp-spinner12: "\f110";
$mp-circle: "\f111";
$mp-mail-reply: "\f112";
$mp-reply2: "\f112";
$mp-github-alt: "\f113";
$mp-folder-o: "\f114";
$mp-folder-open-o: "\f115";
$mp-smile-o: "\f118";
$mp-frown-o: "\f119";
$mp-meh-o: "\f11a";
$mp-gamepad: "\f11b";
$mp-keyboard-o: "\f11c";
$mp-flag-o: "\f11d";
$mp-flag-checkered: "\f11e";
$mp-terminal2: "\f120";
$mp-code2: "\f121";
$mp-mail-reply-all: "\f122";
$mp-reply-all: "\f122";
$mp-star-half-empty: "\f123";
$mp-star-half-full: "\f123";
$mp-star-half-o: "\f123";
$mp-location-arrow1: "\f124";
$mp-crop3: "\f125";
$mp-code-fork: "\f126";
$mp-chain-broken: "\f127";
$mp-unlink: "\f127";
$mp-info4: "\f129";
$mp-exclamation: "\f12a";
$mp-superscript3: "\f12b";
$mp-subscript1: "\f12c";
$mp-eraser: "\f12d";
$mp-puzzle-piece: "\f12e";
$mp-microphone1: "\f130";
$mp-microphone-slash: "\f131";
$mp-shield1: "\f132";
$mp-calendar-o: "\f133";
$mp-fire-extinguisher: "\f134";
$mp-rocket2: "\f135";
$mp-maxcdn: "\f136";
$mp-chevron-circle-left: "\f137";
$mp-chevron-circle-right: "\f138";
$mp-chevron-circle-up: "\f139";
$mp-chevron-circle-down: "\f13a";
$mp-html5: "\f13b";
$mp-css31: "\f13c";
$mp-anchor1: "\f13d";
$mp-unlock-alt: "\f13e";
$mp-bullseye: "\f140";
$mp-ellipsis-h: "\f141";
$mp-ellipsis-v: "\f142";
$mp-rss-square: "\f143";
$mp-play-circle: "\f144";
$mp-ticket2: "\f145";
$mp-minus-square: "\f146";
$mp-minus-square-o: "\f147";
$mp-level-up: "\f148";
$mp-level-down: "\f149";
$mp-check-square: "\f14a";
$mp-pencil-square: "\f14b";
$mp-external-link-square: "\f14c";
$mp-share-square: "\f14d";
$mp-compass3: "\f14e";
$mp-caret-square-o-down: "\f150";
$mp-toggle-down: "\f150";
$mp-caret-square-o-up: "\f151";
$mp-toggle-up: "\f151";
$mp-caret-square-o-right: "\f152";
$mp-toggle-right: "\f152";
$mp-eur: "\f153";
$mp-euro: "\f153";
$mp-gbp: "\f154";
$mp-dollar: "\f155";
$mp-usd: "\f155";
$mp-inr: "\f156";
$mp-rupee: "\f156";
$mp-cny: "\f157";
$mp-jpy: "\f157";
$mp-rmb: "\f157";
$mp-yen: "\f157";
$mp-rouble: "\f158";
$mp-rub: "\f158";
$mp-ruble: "\f158";
$mp-krw: "\f159";
$mp-won: "\f159";
$mp-bitcoin: "\f15a";
$mp-btc: "\f15a";
$mp-file: "\f15b";
$mp-file-text1: "\f15c";
$mp-sort-alpha-asc2: "\f15d";
$mp-sort-alpha-desc2: "\f15e";
$mp-sort-amount-asc2: "\f160";
$mp-sort-amount-desc2: "\f161";
$mp-sort-numeric-asc2: "\f162";
$mp-sort-numeric-desc: "\f163";
$mp-thumbs-up1: "\f164";
$mp-thumbs-down1: "\f165";
$mp-youtube-square: "\f166";
$mp-youtube3: "\f167";
$mp-xing1: "\f168";
$mp-xing-square: "\f169";
$mp-youtube-play: "\f16a";
$mp-dropbox1: "\f16b";
$mp-stack-overflow: "\f16c";
$mp-instagram2: "\f16d";
$mp-flickr1: "\f16e";
$mp-adn: "\f170";
$mp-bitbucket: "\f171";
$mp-bitbucket-square: "\f172";
$mp-tumblr1: "\f173";
$mp-tumblr-square: "\f174";
$mp-long-arrow-down: "\f175";
$mp-long-arrow-up: "\f176";
$mp-long-arrow-left: "\f177";
$mp-long-arrow-right: "\f178";
$mp-apple: "\f179";
$mp-windows1: "\f17a";
$mp-android2: "\f17b";
$mp-linux: "\f17c";
$mp-dribbble1: "\f17d";
$mp-skype1: "\f17e";
$mp-foursquare1: "\f180";
$mp-trello1: "\f181";
$mp-female: "\f182";
$mp-male: "\f183";
$mp-gittip: "\f184";
$mp-gratipay: "\f184";
$mp-sun-o: "\f185";
$mp-moon-o: "\f186";
$mp-archive2: "\f187";
$mp-bug2: "\f188";
$mp-vk2: "\f189";
$mp-weibo: "\f18a";
$mp-renren2: "\f18b";
$mp-pagelines: "\f18c";
$mp-stack-exchange: "\f18d";
$mp-arrow-circle-o-right: "\f18e";
$mp-arrow-circle-o-left: "\f190";
$mp-caret-square-o-left: "\f191";
$mp-toggle-left: "\f191";
$mp-dot-circle-o: "\f192";
$mp-wheelchair: "\f193";
$mp-vimeo-square: "\f194";
$mp-try: "\f195";
$mp-turkish-lira: "\f195";
$mp-plus-square-o: "\f196";
$mp-space-shuttle: "\f197";
$mp-slack: "\f198";
$mp-envelope-square: "\f199";
$mp-wordpress1: "\f19a";
$mp-openid: "\f19b";
$mp-bank: "\f19c";
$mp-institution: "\f19c";
$mp-university: "\f19c";
$mp-graduation-cap: "\f19d";
$mp-mortar-board: "\f19d";
$mp-yahoo1: "\f19e";
$mp-google1: "\f1a0";
$mp-reddit1: "\f1a1";
$mp-reddit-square: "\f1a2";
$mp-stumbleupon-circle: "\f1a3";
$mp-stumbleupon1: "\f1a4";
$mp-delicious1: "\f1a5";
$mp-digg: "\f1a6";
$mp-pied-piper-pp: "\f1a7";
$mp-pied-piper-alt: "\f1a8";
$mp-drupal: "\f1a9";
$mp-joomla1: "\f1aa";
$mp-language1: "\f1ab";
$mp-fax: "\f1ac";
$mp-building: "\f1ad";
$mp-child: "\f1ae";
$mp-paw: "\f1b0";
$mp-spoon: "\f1b1";
$mp-cube: "\f1b2";
$mp-cubes: "\f1b3";
$mp-behance1: "\f1b4";
$mp-behance-square: "\f1b5";
$mp-steam1: "\f1b6";
$mp-steam-square: "\f1b7";
$mp-recycle: "\f1b8";
$mp-automobile: "\f1b9";
$mp-car: "\f1b9";
$mp-cab: "\f1ba";
$mp-taxi: "\f1ba";
$mp-tree3: "\f1bb";
$mp-spotify1: "\f1bc";
$mp-deviantart1: "\f1bd";
$mp-soundcloud1: "\f1be";
$mp-database2: "\f1c0";
$mp-file-pdf-o: "\f1c1";
$mp-file-word-o: "\f1c2";
$mp-file-excel-o: "\f1c3";
$mp-file-powerpoint-o: "\f1c4";
$mp-file-image-o: "\f1c5";
$mp-file-photo-o: "\f1c5";
$mp-file-picture-o: "\f1c5";
$mp-file-archive-o: "\f1c6";
$mp-file-zip-o: "\f1c6";
$mp-file-audio-o: "\f1c7";
$mp-file-sound-o: "\f1c7";
$mp-file-movie-o: "\f1c8";
$mp-file-video-o: "\f1c8";
$mp-file-code-o: "\f1c9";
$mp-vine1: "\f1ca";
$mp-codepen2: "\f1cb";
$mp-jsfiddle: "\f1cc";
$mp-life-bouy: "\f1cd";
$mp-life-buoy: "\f1cd";
$mp-life-ring: "\f1cd";
$mp-life-saver: "\f1cd";
$mp-support1: "\f1cd";
$mp-circle-o-notch: "\f1ce";
$mp-ra: "\f1d0";
$mp-rebel: "\f1d0";
$mp-resistance: "\f1d0";
$mp-empire: "\f1d1";
$mp-ge: "\f1d1";
$mp-git-square: "\f1d2";
$mp-git2: "\f1d3";
$mp-hacker-news: "\f1d4";
$mp-y-combinator-square: "\f1d4";
$mp-yc-square: "\f1d4";
$mp-tencent-weibo: "\f1d5";
$mp-qq: "\f1d6";
$mp-wechat: "\f1d7";
$mp-weixin: "\f1d7";
$mp-paper-plane: "\f1d8";
$mp-send1: "\f1d8";
$mp-paper-plane-o: "\f1d9";
$mp-send-o: "\f1d9";
$mp-history1: "\f1da";
$mp-circle-thin: "\f1db";
$mp-header: "\f1dc";
$mp-paragraph: "\f1dd";
$mp-sliders: "\f1de";
$mp-share-alt: "\f1e0";
$mp-share-alt-square: "\f1e1";
$mp-bomb: "\f1e2";
$mp-futbol-o: "\f1e3";
$mp-soccer-ball-o: "\f1e3";
$mp-tty: "\f1e4";
$mp-binoculars2: "\f1e5";
$mp-plug1: "\f1e6";
$mp-slideshare: "\f1e7";
$mp-twitch2: "\f1e8";
$mp-yelp1: "\f1e9";
$mp-newspaper-o: "\f1ea";
$mp-wifi1: "\f1eb";
$mp-calculator2: "\f1ec";
$mp-paypal1: "\f1ed";
$mp-google-wallet: "\f1ee";
$mp-cc-visa: "\f1f0";
$mp-cc-mastercard: "\f1f1";
$mp-cc-discover: "\f1f2";
$mp-cc-amex: "\f1f3";
$mp-cc-paypal: "\f1f4";
$mp-cc-stripe: "\f1f5";
$mp-bell-slash: "\f1f6";
$mp-bell-slash-o: "\f1f7";
$mp-trash1: "\f1f8";
$mp-copyright1: "\f1f9";
$mp-at1: "\f1fa";
$mp-eyedropper2: "\f1fb";
$mp-paint-brush: "\f1fc";
$mp-birthday-cake: "\f1fd";
$mp-area-chart: "\f1fe";
$mp-pie-chart1: "\f200";
$mp-line-chart: "\f201";
$mp-lastfm3: "\f202";
$mp-lastfm-square: "\f203";
$mp-toggle-off: "\f204";
$mp-toggle-on: "\f205";
$mp-bicycle: "\f206";
$mp-bus: "\f207";
$mp-ioxhost: "\f208";
$mp-angellist: "\f209";
$mp-cc: "\f20a";
$mp-ils: "\f20b";
$mp-shekel: "\f20b";
$mp-sheqel: "\f20b";
$mp-meanpath: "\f20c";
$mp-buysellads: "\f20d";
$mp-connectdevelop: "\f20e";
$mp-dashcube: "\f210";
$mp-forumbee: "\f211";
$mp-leanpub: "\f212";
$mp-sellsy: "\f213";
$mp-shirtsinbulk: "\f214";
$mp-simplybuilt: "\f215";
$mp-skyatlas: "\f216";
$mp-cart-plus: "\f217";
$mp-cart-arrow-down: "\f218";
$mp-diamond: "\f219";
$mp-ship: "\f21a";
$mp-user-secret: "\f21b";
$mp-motorcycle1: "\f21c";
$mp-street-view: "\f21d";
$mp-heartbeat: "\f21e";
$mp-venus: "\f221";
$mp-mars: "\f222";
$mp-mercury: "\f223";
$mp-intersex: "\f224";
$mp-transgender: "\f224";
$mp-transgender-alt: "\f225";
$mp-venus-double: "\f226";
$mp-mars-double: "\f227";
$mp-venus-mars: "\f228";
$mp-mars-stroke: "\f229";
$mp-mars-stroke-v: "\f22a";
$mp-mars-stroke-h: "\f22b";
$mp-neuter: "\f22c";
$mp-genderless: "\f22d";
$mp-facebook-official: "\f230";
$mp-pinterest-p: "\f231";
$mp-whatsapp2: "\f232";
$mp-server: "\f233";
$mp-user-plus2: "\f234";
$mp-user-times: "\f235";
$mp-bed: "\f236";
$mp-hotel: "\f236";
$mp-viacoin: "\f237";
$mp-train1: "\f238";
$mp-subway1: "\f239";
$mp-medium: "\f23a";
$mp-y-combinator: "\f23b";
$mp-yc: "\f23b";
$mp-optin-monster: "\f23c";
$mp-opencart: "\f23d";
$mp-expeditedssl: "\f23e";
$mp-battery: "\f240";
$mp-battery-4: "\f240";
$mp-battery-full1: "\f240";
$mp-battery-3: "\f241";
$mp-battery-three-quarters: "\f241";
$mp-battery-2: "\f242";
$mp-battery-half: "\f242";
$mp-battery-1: "\f243";
$mp-battery-quarter: "\f243";
$mp-battery-0: "\f244";
$mp-battery-empty: "\f244";
$mp-mouse-pointer: "\f245";
$mp-i-cursor: "\f246";
$mp-object-group: "\f247";
$mp-object-ungroup: "\f248";
$mp-sticky-note: "\f249";
$mp-sticky-note-o: "\f24a";
$mp-cc-jcb: "\f24b";
$mp-cc-diners-club: "\f24c";
$mp-clone: "\f24d";
$mp-balance-scale: "\f24e";
$mp-hourglass-o: "\f250";
$mp-hourglass-1: "\f251";
$mp-hourglass-start: "\f251";
$mp-hourglass-2: "\f252";
$mp-hourglass-half: "\f252";
$mp-hourglass-3: "\f253";
$mp-hourglass-end: "\f253";
$mp-hourglass: "\f254";
$mp-hand-grab-o: "\f255";
$mp-hand-rock-o: "\f255";
$mp-hand-paper-o: "\f256";
$mp-hand-stop-o: "\f256";
$mp-hand-scissors-o: "\f257";
$mp-hand-lizard-o: "\f258";
$mp-hand-spock-o: "\f259";
$mp-hand-pointer-o: "\f25a";
$mp-hand-peace-o: "\f25b";
$mp-trademark: "\f25c";
$mp-registered: "\f25d";
$mp-creative-commons: "\f25e";
$mp-gg: "\f260";
$mp-gg-circle: "\f261";
$mp-tripadvisor: "\f262";
$mp-odnoklassniki: "\f263";
$mp-odnoklassniki-square: "\f264";
$mp-get-pocket: "\f265";
$mp-wikipedia-w: "\f266";
$mp-safari1: "\f267";
$mp-chrome2: "\f268";
$mp-firefox2: "\f269";
$mp-opera1: "\f26a";
$mp-internet-explorer: "\f26b";
$mp-television: "\f26c";
$mp-tv2: "\f26c";
$mp-contao: "\f26d";
$mp-500px1: "\f26e";
$mp-amazon2: "\f270";
$mp-calendar-plus-o: "\f271";
$mp-calendar-minus-o: "\f272";
$mp-calendar-times-o: "\f273";
$mp-calendar-check-o: "\f274";
$mp-industry: "\f275";
$mp-map-pin: "\f276";
$mp-map-signs: "\f277";
$mp-map-o: "\f278";
$mp-map3: "\f279";
$mp-commenting: "\f27a";
$mp-commenting-o: "\f27b";
$mp-houzz: "\f27c";
$mp-vimeo3: "\f27d";
$mp-black-tie: "\f27e";
$mp-fonticons: "\f280";
$mp-reddit-alien: "\f281";
$mp-edge1: "\f282";
$mp-credit-card-alt: "\f283";
$mp-codiepie: "\f284";
$mp-modx: "\f285";
$mp-fort-awesome: "\f286";
$mp-usb1: "\f287";
$mp-product-hunt: "\f288";
$mp-mixcloud: "\f289";
$mp-scribd: "\f28a";
$mp-pause-circle: "\f28b";
$mp-pause-circle-o: "\f28c";
$mp-stop-circle: "\f28d";
$mp-stop-circle-o: "\f28e";
$mp-shopping-bag1: "\f290";
$mp-shopping-basket: "\f291";
$mp-hashtag: "\f292";
$mp-bluetooth1: "\f293";
$mp-bluetooth-b: "\f294";
$mp-percent: "\f295";
$mp-gitlab: "\f296";
$mp-wpbeginner: "\f297";
$mp-wpforms: "\f298";
$mp-envira: "\f299";
$mp-universal-access: "\f29a";
$mp-wheelchair-alt: "\f29b";
$mp-question-circle-o: "\f29c";
$mp-blind: "\f29d";
$mp-audio-description: "\f29e";
$mp-volume-control-phone: "\f2a0";
$mp-braille: "\f2a1";
$mp-assistive-listening-systems: "\f2a2";
$mp-american-sign-language-interpreting: "\f2a3";
$mp-asl-interpreting: "\f2a3";
$mp-deaf: "\f2a4";
$mp-deafness: "\f2a4";
$mp-hard-of-hearing: "\f2a4";
$mp-glide: "\f2a5";
$mp-glide-g: "\f2a6";
$mp-sign-language: "\f2a7";
$mp-signing: "\f2a7";
$mp-low-vision: "\f2a8";
$mp-viadeo: "\f2a9";
$mp-viadeo-square: "\f2aa";
$mp-snapchat: "\f2ab";
$mp-snapchat-ghost: "\f2ac";
$mp-snapchat-square: "\f2ad";
$mp-pied-piper: "\f2ae";
$mp-first-order: "\f2b0";
$mp-yoast: "\f2b1";
$mp-themeisle: "\f2b2";
$mp-google-plus-circle: "\f2b3";
$mp-google-plus-official: "\f2b3";
$mp-fa: "\f2b4";
$mp-font-awesome: "\f2b4";
$mp-handshake-o: "\f2b5";
$mp-envelope-open: "\f2b6";
$mp-envelope-open-o: "\f2b7";
$mp-linode: "\f2b8";
$mp-address-book2: "\f2b9";
$mp-address-book-o: "\f2ba";
$mp-address-card: "\f2bb";
$mp-vcard: "\f2bb";
$mp-address-card-o: "\f2bc";
$mp-vcard-o: "\f2bc";
$mp-user-circle: "\f2bd";
$mp-user-circle-o: "\f2be";
$mp-user-o: "\f2c0";
$mp-id-badge: "\f2c1";
$mp-drivers-license: "\f2c2";
$mp-id-card: "\f2c2";
$mp-drivers-license-o: "\f2c3";
$mp-id-card-o: "\f2c3";
$mp-quora: "\f2c4";
$mp-free-code-camp: "\f2c5";
$mp-telegram2: "\f2c6";
$mp-thermometer2: "\f2c7";
$mp-thermometer-4: "\f2c7";
$mp-thermometer-full: "\f2c7";
$mp-thermometer-3: "\f2c8";
$mp-thermometer-three-quarters: "\f2c8";
$mp-thermometer-2: "\f2c9";
$mp-thermometer-half: "\f2c9";
$mp-thermometer-1: "\f2ca";
$mp-thermometer-quarter: "\f2ca";
$mp-thermometer-0: "\f2cb";
$mp-thermometer-empty: "\f2cb";
$mp-shower: "\f2cc";
$mp-bath: "\f2cd";
$mp-bathtub: "\f2cd";
$mp-s15: "\f2cd";
$mp-podcast2: "\f2ce";
$mp-window-maximize: "\f2d0";
$mp-window-minimize: "\f2d1";
$mp-window-restore: "\f2d2";
$mp-times-rectangle: "\f2d3";
$mp-window-close: "\f2d3";
$mp-times-rectangle-o: "\f2d4";
$mp-window-close-o: "\f2d4";
$mp-bandcamp: "\f2d5";
$mp-grav: "\f2d6";
$mp-etsy: "\f2d7";
$mp-imdb: "\f2d8";
$mp-ravelry: "\f2d9";
$mp-eercast: "\f2da";
$mp-microchip: "\f2db";
$mp-snowflake-o: "\f2dc";
$mp-superpowers: "\f2dd";
$mp-wpexplorer: "\f2de";
$mp-meetup: "\f2e0";
$mp-d_rotation: "\e84d";
$mp-ac_unit: "\eb3b";
$mp-alarm: "\e855";
$mp-access_alarms: "\e191";
$mp-schedule: "\e8b5";
$mp-accessibility: "\e84e";
$mp-accessible: "\ea37";
$mp-account_balance: "\e84f";
$mp-account_balance_wallet: "\e850";
$mp-account_box: "\e851";
$mp-account_circle: "\e853";
$mp-adb: "\e60e";
$mp-add: "\e145";
$mp-add_a_photo: "\e439";
$mp-alarm_add: "\e856";
$mp-add_alert: "\e003";
$mp-add_box: "\e146";
$mp-add_circle: "\e147";
$mp-control_point: "\e3ba";
$mp-add_location: "\e567";
$mp-add_shopping_cart: "\e854";
$mp-queue: "\e03c";
$mp-add_to_queue: "\e05c";
$mp-adjust: "\e39e";
$mp-airline_seat_flat: "\e630";
$mp-airline_seat_flat_angled: "\e631";
$mp-airline_seat_individual_suite: "\e632";
$mp-airline_seat_legroom_extra: "\e633";
$mp-airline_seat_legroom_normal: "\e634";
$mp-airline_seat_legroom_reduced: "\e635";
$mp-airline_seat_recline_extra: "\e636";
$mp-airline_seat_recline_normal: "\e637";
$mp-flight: "\e539";
$mp-airplanemode_inactive: "\e194";
$mp-airplay: "\e055";
$mp-airport_shuttle: "\eb3c";
$mp-alarm_off: "\e857";
$mp-alarm_on: "\e858";
$mp-album: "\e019";
$mp-all_inclusive: "\eb3d";
$mp-all_out: "\ea38";
$mp-android: "\e859";
$mp-announcement: "\e85a";
$mp-apps: "\e5c3";
$mp-archive1: "\e149";
$mp-arrow_back: "\e5c4";
$mp-arrow_downward: "\e5db";
$mp-arrow_drop_down: "\e5c5";
$mp-arrow_drop_down_circle: "\e5c6";
$mp-arrow_drop_up: "\e5c7";
$mp-arrow_forward: "\e5c8";
$mp-arrow_upward: "\e5d8";
$mp-art_track: "\e060";
$mp-aspect_ratio: "\e85b";
$mp-poll: "\e801";
$mp-assignment: "\e85d";
$mp-assignment_ind: "\e85e";
$mp-assignment_late: "\e85f";
$mp-assignment_return: "\e860";
$mp-assignment_returned: "\e861";
$mp-assignment_turned_in: "\e862";
$mp-assistant: "\e39f";
$mp-flag1: "\e153";
$mp-attach_file: "\e226";
$mp-attach_money: "\e227";
$mp-attachment1: "\e2bc";
$mp-audiotrack: "\e3a1";
$mp-autorenew: "\e863";
$mp-av_timer: "\e01b";
$mp-backspace1: "\e14a";
$mp-cloud_upload: "\e2c3";
$mp-battery_alert: "\e19c";
$mp-battery_charging_full: "\e1a3";
$mp-battery_std: "\e1a5";
$mp-battery_unknown: "\e1a6";
$mp-beach_access: "\eb3e";
$mp-beenhere: "\e52d";
$mp-block: "\e14b";
$mp-bluetooth: "\e1a7";
$mp-bluetooth_searching: "\e1aa";
$mp-bluetooth_connected: "\e1a8";
$mp-bluetooth_disabled: "\e1a9";
$mp-blur_circular: "\e3a2";
$mp-blur_linear: "\e3a3";
$mp-blur_off: "\e3a4";
$mp-blur_on: "\e3a5";
$mp-class: "\e86e";
$mp-turned_in: "\e8e6";
$mp-turned_in_not: "\e8e7";
$mp-border_all: "\e228";
$mp-border_bottom: "\e229";
$mp-border_clear: "\e22a";
$mp-border_color: "\e22b";
$mp-border_horizontal: "\e22c";
$mp-border_inner: "\e22d";
$mp-border_left: "\e22e";
$mp-border_outer: "\e22f";
$mp-border_right: "\e230";
$mp-border_style: "\e231";
$mp-border_top: "\e232";
$mp-border_vertical: "\e233";
$mp-branding_watermark: "\e06b";
$mp-brightness_1: "\e3a6";
$mp-brightness_2: "\e3a7";
$mp-brightness_3: "\e3a8";
$mp-brightness_4: "\e3a9";
$mp-brightness_low: "\e1ad";
$mp-brightness_medium: "\e1ae";
$mp-brightness_high: "\e1ac";
$mp-brightness_auto: "\e1ab";
$mp-broken_image: "\e3ad";
$mp-brush1: "\e3ae";
$mp-bubble_chart: "\e6dd";
$mp-bug_report: "\e868";
$mp-build: "\e869";
$mp-burst_mode: "\e43c";
$mp-domain: "\e7ee";
$mp-business_center: "\eb3f";
$mp-cached: "\e86a";
$mp-cake: "\e7e9";
$mp-phone1: "\e0cd";
$mp-call_end: "\e0b1";
$mp-call_made: "\e0b2";
$mp-merge_type: "\e252";
$mp-call_missed: "\e0b4";
$mp-call_missed_outgoing: "\e0e4";
$mp-call_received: "\e0b5";
$mp-call_split: "\e0b6";
$mp-call_to_action: "\e06c";
$mp-camera1: "\e3af";
$mp-photo_camera: "\e412";
$mp-camera_enhance: "\e8fc";
$mp-camera_front: "\e3b1";
$mp-camera_rear: "\e3b2";
$mp-camera_roll: "\e3b3";
$mp-cancel1: "\e5c9";
$mp-redeem: "\e8b1";
$mp-card_membership: "\e8f7";
$mp-card_travel: "\e8f8";
$mp-casino: "\eb40";
$mp-cast: "\e307";
$mp-cast_connected: "\e308";
$mp-center_focus_strong: "\e3b4";
$mp-center_focus_weak: "\e3b5";
$mp-change_history: "\e86b";
$mp-chat: "\e0b7";
$mp-chat_bubble: "\e0ca";
$mp-chat_bubble_outline: "\e0cb";
$mp-check: "\e5ca";
$mp-check_box: "\e834";
$mp-check_box_outline_blank: "\e835";
$mp-check_circle: "\e86c";
$mp-navigate_before: "\e408";
$mp-navigate_next: "\e409";
$mp-child_care: "\eb41";
$mp-child_friendly: "\eb42";
$mp-chrome_reader_mode: "\e86d";
$mp-close: "\e5cd";
$mp-clear_all: "\e0b8";
$mp-closed_caption: "\e01c";
$mp-wb_cloudy: "\e42d";
$mp-cloud_circle: "\e2be";
$mp-cloud_done: "\e2bf";
$mp-cloud_download: "\e2c0";
$mp-cloud_off: "\e2c1";
$mp-cloud_queue: "\e2c2";
$mp-code1: "\e86f";
$mp-photo_library: "\e413";
$mp-collections_bookmark: "\e431";
$mp-palette: "\e40a";
$mp-colorize: "\e3b8";
$mp-comment: "\e0b9";
$mp-compare: "\e3b9";
$mp-compare_arrows: "\ea39";
$mp-laptop: "\e31e";
$mp-confirmation_number: "\e638";
$mp-contact_mail: "\e0d0";
$mp-contact_phone: "\e0cf";
$mp-contacts1: "\e0ba";
$mp-content_copy: "\e14d";
$mp-content_cut: "\e14e";
$mp-content_paste: "\e14f";
$mp-control_point_duplicate: "\e3bb";
$mp-copyright: "\ea3a";
$mp-mode_edit: "\e254";
$mp-create_new_folder: "\e2cc";
$mp-payment: "\e8a1";
$mp-crop: "\e3be";
$mp-crop_16_9: "\e3bc";
$mp-crop_3_2: "\e3bd";
$mp-crop_landscape: "\e3c3";
$mp-crop_7_5: "\e3c0";
$mp-crop_din: "\e3c1";
$mp-crop_free: "\e3c2";
$mp-crop_original: "\e3c4";
$mp-crop_portrait: "\e3c5";
$mp-crop_rotate: "\e437";
$mp-crop_square: "\e3c6";
$mp-dashboard: "\e871";
$mp-data_usage: "\e1af";
$mp-date_range: "\ea3b";
$mp-dehaze: "\e3c7";
$mp-delete1: "\e872";
$mp-delete_forever: "\ea3c";
$mp-delete_sweep: "\e16c";
$mp-description: "\e873";
$mp-desktop_mac: "\e30b";
$mp-desktop_windows: "\e30c";
$mp-details: "\e3c8";
$mp-developer_board: "\e30d";
$mp-developer_mode: "\e1b0";
$mp-device_hub: "\e335";
$mp-phonelink: "\e326";
$mp-devices_other: "\e337";
$mp-dialer_sip: "\e0bb";
$mp-dialpad: "\e0bc";
$mp-directions1: "\e52e";
$mp-directions_bike: "\e52f";
$mp-directions_boat: "\e532";
$mp-directions_bus: "\e530";
$mp-directions_car: "\e531";
$mp-directions_railway: "\e534";
$mp-directions_run: "\e566";
$mp-directions_transit: "\e535";
$mp-directions_walk: "\e536";
$mp-disc_full: "\e610";
$mp-dns: "\e875";
$mp-not_interested: "\e033";
$mp-do_not_disturb_alt: "\e611";
$mp-do_not_disturb_off: "\e643";
$mp-remove_circle: "\e15c";
$mp-dock: "\e30e";
$mp-done: "\e876";
$mp-done_all: "\e877";
$mp-donut_large: "\ea3d";
$mp-donut_small: "\ea3e";
$mp-drafts: "\e151";
$mp-drag_handle: "\e25d";
$mp-time_to_leave: "\e62c";
$mp-dvr: "\e1b2";
$mp-edit_location: "\e568";
$mp-eject1: "\e8fb";
$mp-markunread: "\e159";
$mp-enhanced_encryption: "\e63f";
$mp-equalizer: "\e01d";
$mp-error: "\e000";
$mp-error_outline: "\e001";
$mp-euro_symbol: "\ea3f";
$mp-ev_station: "\e56d";
$mp-insert_invitation: "\e24f";
$mp-event_available: "\e614";
$mp-event_busy: "\e615";
$mp-event_note: "\e616";
$mp-event_seat: "\ea40";
$mp-exit_to_app: "\e879";
$mp-expand_less: "\e5ce";
$mp-expand_more: "\e5cf";
$mp-explicit: "\e01e";
$mp-explore: "\e87a";
$mp-exposure: "\e3ca";
$mp-exposure_neg_1: "\e3cb";
$mp-exposure_neg_2: "\e3cc";
$mp-exposure_plus_1: "\e3cd";
$mp-exposure_plus_2: "\e3ce";
$mp-exposure_zero: "\e3cf";
$mp-extension: "\e87b";
$mp-face: "\e87c";
$mp-fast_forward: "\e01f";
$mp-fast_rewind: "\e020";
$mp-favorite: "\e87d";
$mp-favorite_border: "\e87e";
$mp-featured_play_list: "\e06d";
$mp-featured_video: "\e06e";
$mp-sms_failed: "\e626";
$mp-fiber_dvr: "\e05d";
$mp-fiber_manual_record: "\e061";
$mp-fiber_new: "\e05e";
$mp-fiber_pin: "\e06a";
$mp-fiber_smart_record: "\e062";
$mp-get_app: "\e884";
$mp-file_upload: "\e2c6";
$mp-filter: "\e3d3";
$mp-filter_1: "\e3d0";
$mp-filter_2: "\e3d1";
$mp-filter_3: "\e3d2";
$mp-filter_4: "\e3d4";
$mp-filter_5: "\e3d5";
$mp-filter_6: "\e3d6";
$mp-filter_7: "\e3d7";
$mp-filter_8: "\e3d8";
$mp-filter_9: "\e3d9";
$mp-filter_9_plus: "\e3da";
$mp-filter_b_and_w: "\e3db";
$mp-filter_center_focus: "\e3dc";
$mp-filter_drama: "\e3dd";
$mp-filter_frames: "\e3de";
$mp-terrain: "\e564";
$mp-filter_list: "\e152";
$mp-filter_none: "\e3e0";
$mp-filter_tilt_shift: "\e3e2";
$mp-filter_vintage: "\e3e3";
$mp-find_in_page: "\e880";
$mp-find_replace: "\e881";
$mp-fingerprint: "\ea41";
$mp-first_page: "\e5dc";
$mp-fitness_center: "\eb43";
$mp-flare: "\e3e4";
$mp-flash_auto: "\e3e5";
$mp-flash_off: "\e3e6";
$mp-flash_on: "\e3e7";
$mp-flight_land: "\ea42";
$mp-flight_takeoff: "\ea43";
$mp-flip: "\e3e8";
$mp-flip_to_back: "\e882";
$mp-flip_to_front: "\e883";
$mp-folder1: "\e2c7";
$mp-folder_open: "\e2c8";
$mp-folder_shared: "\e2c9";
$mp-folder_special: "\e617";
$mp-font_download: "\e167";
$mp-format_align_center: "\e234";
$mp-format_align_justify: "\e235";
$mp-format_align_left: "\e236";
$mp-format_align_right: "\e237";
$mp-format_bold: "\e238";
$mp-format_clear: "\e239";
$mp-format_color_fill: "\e23a";
$mp-format_color_reset: "\e23b";
$mp-format_color_text: "\e23c";
$mp-format_indent_decrease: "\e23d";
$mp-format_indent_increase: "\e23e";
$mp-format_italic: "\e23f";
$mp-format_line_spacing: "\e240";
$mp-format_list_bulleted: "\e241";
$mp-format_list_numbered: "\e242";
$mp-format_paint: "\e243";
$mp-format_quote: "\e244";
$mp-format_shapes: "\e25e";
$mp-format_size: "\e245";
$mp-format_strikethrough: "\e246";
$mp-format_textdirection_l_to_r: "\e247";
$mp-format_textdirection_r_to_l: "\e248";
$mp-format_underlined: "\e249";
$mp-question_answer: "\e8af";
$mp-forward: "\e154";
$mp-forward_10: "\e056";
$mp-forward_30: "\e057";
$mp-forward_5: "\e058";
$mp-free_breakfast: "\eb44";
$mp-fullscreen: "\e5d0";
$mp-fullscreen_exit: "\e5d1";
$mp-functions: "\e24a";
$mp-g_translate: "\ea44";
$mp-games: "\e021";
$mp-gavel: "\ea45";
$mp-gesture: "\e155";
$mp-gif: "\ea46";
$mp-goat: "\ea47";
$mp-golf_course: "\eb45";
$mp-my_location: "\e55c";
$mp-location_searching: "\e1b7";
$mp-location_disabled: "\e1b6";
$mp-star1: "\e838";
$mp-gradient: "\e3e9";
$mp-grain: "\e3ea";
$mp-graphic_eq: "\e1b8";
$mp-grid_off: "\e3eb";
$mp-grid_on: "\e3ec";
$mp-people: "\e7fb";
$mp-group_add: "\e7f0";
$mp-group_work: "\e886";
$mp-hd: "\e052";
$mp-hdr_off: "\e3ed";
$mp-hdr_on: "\e3ee";
$mp-hdr_strong: "\e3f1";
$mp-hdr_weak: "\e3f2";
$mp-headset: "\e310";
$mp-headset_mic: "\e311";
$mp-healing: "\e3f3";
$mp-hearing: "\e023";
$mp-help: "\e887";
$mp-help_outline: "\e8fd";
$mp-high_quality: "\e024";
$mp-highlight: "\e25f";
$mp-highlight_off: "\e888";
$mp-restore: "\e8b3";
$mp-home1: "\e88a";
$mp-hot_tub: "\eb46";
$mp-local_hotel: "\e549";
$mp-hourglass_empty: "\e88b";
$mp-hourglass_full: "\e88c";
$mp-http: "\ea48";
$mp-lock: "\e897";
$mp-photo: "\e410";
$mp-image_aspect_ratio: "\e3f5";
$mp-import_contacts: "\e0e0";
$mp-import_export: "\e0c3";
$mp-important_devices: "\ea49";
$mp-inbox: "\e156";
$mp-indeterminate_check_box: "\ea4a";
$mp-info1: "\e88e";
$mp-info_outline: "\e88f";
$mp-input: "\e890";
$mp-insert_comment: "\e24c";
$mp-insert_drive_file: "\e24d";
$mp-tag_faces: "\e420";
$mp-link1: "\e157";
$mp-invert_colors: "\e891";
$mp-invert_colors_off: "\e0c4";
$mp-iso: "\e3f6";
$mp-keyboard: "\e312";
$mp-keyboard_arrow_down: "\e313";
$mp-keyboard_arrow_left: "\e314";
$mp-keyboard_arrow_right: "\e315";
$mp-keyboard_arrow_up: "\e316";
$mp-keyboard_backspace: "\e317";
$mp-keyboard_capslock: "\e318";
$mp-keyboard_hide: "\e31a";
$mp-keyboard_return: "\e31b";
$mp-keyboard_tab: "\e31c";
$mp-keyboard_voice: "\e31d";
$mp-kitchen: "\eb47";
$mp-label: "\e892";
$mp-label_outline: "\e893";
$mp-language: "\e894";
$mp-laptop_chromebook: "\e31f";
$mp-laptop_mac: "\e320";
$mp-laptop_windows: "\e321";
$mp-last_page: "\e5dd";
$mp-open_in_new: "\e89e";
$mp-layers: "\e53b";
$mp-layers_clear: "\e53c";
$mp-leak_add: "\e3f8";
$mp-leak_remove: "\e3f9";
$mp-lens: "\e3fa";
$mp-library_books: "\e02f";
$mp-library_music: "\e030";
$mp-lightbulb_outline: "\ea4b";
$mp-line_style: "\ea4c";
$mp-line_weight: "\ea4d";
$mp-linear_scale: "\e260";
$mp-linked_camera: "\e438";
$mp-list: "\e896";
$mp-live_help: "\e0c6";
$mp-live_tv: "\e639";
$mp-local_play: "\e553";
$mp-local_airport: "\e53d";
$mp-local_atm: "\e53e";
$mp-local_bar: "\e540";
$mp-local_cafe: "\e541";
$mp-local_car_wash: "\e542";
$mp-local_convenience_store: "\e543";
$mp-restaurant_menu: "\e561";
$mp-local_drink: "\e544";
$mp-local_florist: "\e545";
$mp-local_gas_station: "\e546";
$mp-shopping_cart: "\e8cc";
$mp-local_hospital: "\e548";
$mp-local_laundry_service: "\e54a";
$mp-local_library: "\e54b";
$mp-local_mall: "\e54c";
$mp-theaters: "\e8da";
$mp-local_offer: "\e54e";
$mp-local_parking: "\e54f";
$mp-local_pharmacy: "\e550";
$mp-local_pizza: "\e552";
$mp-print: "\e8ad";
$mp-local_shipping: "\e558";
$mp-local_taxi: "\e559";
$mp-location_city: "\e7f1";
$mp-location_off: "\e0c7";
$mp-room: "\e8b4";
$mp-lock_open: "\e898";
$mp-lock_outline: "\e899";
$mp-looks: "\e3fc";
$mp-looks_3: "\e3fb";
$mp-looks_4: "\e3fd";
$mp-looks_5: "\e3fe";
$mp-looks_6: "\e3ff";
$mp-looks_one: "\e400";
$mp-looks_two: "\e401";
$mp-sync: "\e627";
$mp-loupe: "\e402";
$mp-low_priority: "\e16d";
$mp-loyalty: "\e89a";
$mp-mail_outline: "\e0e1";
$mp-map1: "\e55b";
$mp-markunread_mailbox: "\e89b";
$mp-memory: "\e322";
$mp-menu: "\e5d2";
$mp-message1: "\e0c9";
$mp-mic: "\e029";
$mp-mic_none: "\e02a";
$mp-mic_off: "\e02b";
$mp-mms: "\e618";
$mp-mode_comment: "\e253";
$mp-monetization_on: "\e263";
$mp-money_off: "\e25c";
$mp-monochrome_photos: "\e403";
$mp-mood_bad: "\e7f3";
$mp-more: "\e619";
$mp-more_horiz: "\e5d3";
$mp-more_vert: "\e5d4";
$mp-motorcycle: "\ea4e";
$mp-mouse: "\e323";
$mp-move_to_inbox: "\e168";
$mp-movie_creation: "\e404";
$mp-movie_filter: "\e43a";
$mp-multiline_chart: "\e6df";
$mp-music_note: "\e405";
$mp-music_video: "\e063";
$mp-nature: "\e406";
$mp-nature_people: "\e407";
$mp-navigation: "\e55d";
$mp-near_me: "\e569";
$mp-network_cell: "\e1b9";
$mp-network_check: "\e640";
$mp-network_locked: "\e61a";
$mp-network_wifi: "\e1ba";
$mp-new_releases: "\e031";
$mp-next_week: "\e16a";
$mp-nfc: "\e1bb";
$mp-no_encryption: "\e641";
$mp-signal_cellular_no_sim: "\e1ce";
$mp-note: "\e06f";
$mp-note_add: "\e89c";
$mp-notifications: "\e7f4";
$mp-notifications_active: "\e7f7";
$mp-notifications_none: "\e7f5";
$mp-notifications_off: "\e7f6";
$mp-notifications_paused: "\e7f8";
$mp-offline_pin: "\ea4f";
$mp-ondemand_video: "\e63a";
$mp-opacity: "\ea50";
$mp-open_in_browser: "\e89d";
$mp-open_with: "\e89f";
$mp-pages: "\e7f9";
$mp-pageview: "\e8a0";
$mp-pan_tool: "\ea51";
$mp-panorama: "\e40b";
$mp-radio_button_unchecked: "\e836";
$mp-panorama_horizontal: "\e40d";
$mp-panorama_vertical: "\e40e";
$mp-panorama_wide_angle: "\e40f";
$mp-party_mode: "\e7fa";
$mp-pause: "\e034";
$mp-pause_circle_filled: "\e035";
$mp-pause_circle_outline: "\e036";
$mp-people_outline: "\e7fc";
$mp-perm_camera_mic: "\e8a2";
$mp-perm_contact_calendar: "\e8a3";
$mp-perm_data_setting: "\e8a4";
$mp-perm_device_information: "\e8a5";
$mp-person_outline: "\e7ff";
$mp-perm_media: "\e8a7";
$mp-perm_phone_msg: "\e8a8";
$mp-perm_scan_wifi: "\e8a9";
$mp-person: "\e7fd";
$mp-person_add: "\e7fe";
$mp-person_pin: "\e55a";
$mp-person_pin_circle: "\e56a";
$mp-personal_video: "\e63b";
$mp-pets: "\ea52";
$mp-phone_android: "\e324";
$mp-phone_bluetooth_speaker: "\e61b";
$mp-phone_forwarded: "\e61c";
$mp-phone_in_talk: "\e61d";
$mp-phone_iphone: "\e325";
$mp-phone_locked: "\e61e";
$mp-phone_missed: "\e61f";
$mp-phone_paused: "\e620";
$mp-phonelink_erase: "\e0db";
$mp-phonelink_lock: "\e0dc";
$mp-phonelink_off: "\e327";
$mp-phonelink_ring: "\e0dd";
$mp-phonelink_setup: "\e0de";
$mp-photo_album: "\e411";
$mp-photo_filter: "\e43b";
$mp-photo_size_select_actual: "\e432";
$mp-photo_size_select_large: "\e433";
$mp-photo_size_select_small: "\e434";
$mp-picture_as_pdf: "\e415";
$mp-picture_in_picture: "\e8aa";
$mp-picture_in_picture_alt: "\ea53";
$mp-pie_chart: "\e6c4";
$mp-pie_chart_outlined: "\e6c5";
$mp-pin_drop: "\e55e";
$mp-play_arrow: "\e037";
$mp-play_circle_filled: "\e038";
$mp-play_circle_outline: "\e039";
$mp-play_for_work: "\ea54";
$mp-playlist_add: "\e03b";
$mp-playlist_add_check: "\e065";
$mp-playlist_play: "\e05f";
$mp-plus_one: "\e800";
$mp-polymer: "\e8ab";
$mp-pool: "\eb48";
$mp-portable_wifi_off: "\e0ce";
$mp-portrait: "\e416";
$mp-power1: "\e63c";
$mp-power_input: "\e336";
$mp-power_settings_new: "\e8ac";
$mp-pregnant_woman: "\ea55";
$mp-present_to_all: "\e0df";
$mp-priority_high: "\e645";
$mp-public: "\e80b";
$mp-publish: "\e255";
$mp-queue_music: "\e03d";
$mp-queue_play_next: "\e066";
$mp-radio: "\e03e";
$mp-radio_button_checked: "\e837";
$mp-rate_review: "\e560";
$mp-receipt: "\e8b0";
$mp-recent_actors: "\e03f";
$mp-record_voice_over: "\ea56";
$mp-redo: "\e15a";
$mp-refresh1: "\e5d5";
$mp-remove: "\e15b";
$mp-remove_circle_outline: "\e15d";
$mp-remove_from_queue: "\e067";
$mp-visibility: "\e8f4";
$mp-remove_shopping_cart: "\ea57";
$mp-reorder: "\e8fe";
$mp-repeat: "\e040";
$mp-repeat_one: "\e041";
$mp-replay: "\e042";
$mp-replay_10: "\e059";
$mp-replay_30: "\e05a";
$mp-replay_5: "\e05b";
$mp-reply: "\e15e";
$mp-reply_all: "\e15f";
$mp-report: "\e160";
$mp-warning1: "\e002";
$mp-restaurant: "\e56c";
$mp-restore_page: "\ea58";
$mp-ring_volume: "\e0d1";
$mp-room_service: "\eb49";
$mp-rotate_90_degrees_ccw: "\e418";
$mp-rotate_left: "\e419";
$mp-rotate_right: "\e41a";
$mp-rounded_corner: "\ea59";
$mp-router: "\e328";
$mp-rowing: "\ea5a";
$mp-rss_feed: "\e0e5";
$mp-rv_hookup: "\e642";
$mp-satellite: "\e562";
$mp-save: "\e161";
$mp-scanner: "\e329";
$mp-school: "\e80c";
$mp-screen_lock_landscape: "\e1be";
$mp-screen_lock_portrait: "\e1bf";
$mp-screen_lock_rotation: "\e1c0";
$mp-screen_rotation: "\e1c1";
$mp-screen_share: "\e0e2";
$mp-sd_storage: "\e1c2";
$mp-search: "\e8b6";
$mp-security: "\e32a";
$mp-select_all: "\e162";
$mp-send: "\e163";
$mp-sentiment_dissatisfied: "\e811";
$mp-sentiment_neutral: "\e812";
$mp-sentiment_satisfied: "\e813";
$mp-sentiment_very_dissatisfied: "\e814";
$mp-sentiment_very_satisfied: "\e815";
$mp-settings: "\e8b8";
$mp-settings_applications: "\e8b9";
$mp-settings_backup_restore: "\e8ba";
$mp-settings_bluetooth: "\e8bb";
$mp-settings_brightness: "\e8bd";
$mp-settings_cell: "\e8bc";
$mp-settings_ethernet: "\e8be";
$mp-settings_input_antenna: "\e8bf";
$mp-settings_input_composite: "\e8c1";
$mp-settings_input_hdmi: "\e8c2";
$mp-settings_input_svideo: "\e8c3";
$mp-settings_overscan: "\e8c4";
$mp-settings_phone: "\e8c5";
$mp-settings_power: "\e8c6";
$mp-settings_remote: "\e8c7";
$mp-settings_system_daydream: "\e1c3";
$mp-settings_voice: "\e8c8";
$mp-share: "\e80d";
$mp-shop: "\e8c9";
$mp-shop_two: "\e8ca";
$mp-shopping_basket: "\e8cb";
$mp-short_text: "\e261";
$mp-show_chart: "\e6e1";
$mp-shuffle: "\e043";
$mp-signal_cellular_4_bar: "\e1c8";
$mp-signal_cellular_connected_no_internet_4_bar: "\e1cd";
$mp-signal_cellular_null: "\e1cf";
$mp-signal_cellular_off: "\e1d0";
$mp-signal_wifi_4_bar: "\e1d8";
$mp-signal_wifi_4_bar_lock: "\e1d9";
$mp-signal_wifi_off: "\e1da";
$mp-sim_card: "\e32b";
$mp-sim_card_alert: "\e624";
$mp-skip_next: "\e044";
$mp-skip_previous: "\e045";
$mp-slideshow: "\e41b";
$mp-slow_motion_video: "\e068";
$mp-stay_primary_portrait: "\e0d6";
$mp-smoke_free: "\eb4a";
$mp-smoking_rooms: "\eb4b";
$mp-textsms: "\e0d8";
$mp-snooze: "\e046";
$mp-sort: "\e164";
$mp-sort_by_alpha: "\e053";
$mp-spa: "\eb4c";
$mp-space_bar: "\e256";
$mp-speaker: "\e32d";
$mp-speaker_group: "\e32e";
$mp-speaker_notes: "\e8cd";
$mp-speaker_notes_off: "\ea5b";
$mp-speaker_phone: "\e0d2";
$mp-spellcheck: "\e8ce";
$mp-star_border: "\e83a";
$mp-star_half: "\e839";
$mp-stars: "\e8d0";
$mp-stay_primary_landscape: "\e0d5";
$mp-stop: "\e047";
$mp-stop_screen_share: "\e0e3";
$mp-storage: "\e1db";
$mp-store_mall_directory: "\e563";
$mp-straighten: "\e41c";
$mp-streetview: "\e56e";
$mp-strikethrough_s: "\e257";
$mp-style: "\e41d";
$mp-subdirectory_arrow_left: "\e5d9";
$mp-subdirectory_arrow_right: "\e5da";
$mp-subject: "\e8d2";
$mp-subscriptions: "\e064";
$mp-subtitles: "\e048";
$mp-subway: "\e56f";
$mp-supervisor_account: "\e8d3";
$mp-surround_sound: "\e049";
$mp-swap_calls: "\e0d7";
$mp-swap_horiz: "\e8d4";
$mp-swap_vert: "\e8d5";
$mp-swap_vertical_circle: "\e8d6";
$mp-switch_camera: "\e41e";
$mp-switch_video: "\e41f";
$mp-sync_disabled: "\e628";
$mp-sync_problem: "\e629";
$mp-system_update: "\e62a";
$mp-system_update_alt: "\e8d7";
$mp-tab: "\e8d8";
$mp-tab_unselected: "\e8d9";
$mp-tablet: "\e32f";
$mp-tablet_android: "\e330";
$mp-tablet_mac: "\e331";
$mp-tap_and_play: "\e62b";
$mp-text_fields: "\e262";
$mp-text_format: "\e165";
$mp-texture: "\e421";
$mp-thumb_down: "\e8db";
$mp-thumb_up: "\e8dc";
$mp-thumbs_up_down: "\e8dd";
$mp-timelapse: "\e422";
$mp-timeline: "\ea5c";
$mp-timer: "\e425";
$mp-timer_10: "\e423";
$mp-timer_3: "\e424";
$mp-timer_off: "\e426";
$mp-title: "\e264";
$mp-toc: "\e8de";
$mp-today: "\e8df";
$mp-toll: "\e8e0";
$mp-tonality: "\e427";
$mp-touch_app: "\ea5d";
$mp-toys: "\e332";
$mp-track_changes: "\e8e1";
$mp-traffic: "\e565";
$mp-train: "\e570";
$mp-tram: "\e571";
$mp-transfer_within_a_station: "\e572";
$mp-transform: "\e428";
$mp-translate: "\e8e2";
$mp-trending_down: "\e8e3";
$mp-trending_flat: "\e8e4";
$mp-trending_up: "\e8e5";
$mp-tune: "\e429";
$mp-tv: "\e333";
$mp-unarchive: "\e169";
$mp-undo: "\e166";
$mp-unfold_less: "\e5d6";
$mp-unfold_more: "\e5d7";
$mp-update: "\ea5e";
$mp-usb: "\e1e0";
$mp-verified_user: "\e8e8";
$mp-vertical_align_bottom: "\e258";
$mp-vertical_align_center: "\e259";
$mp-vertical_align_top: "\e25a";
$mp-vibration: "\e62d";
$mp-video_call: "\e070";
$mp-video_label: "\e071";
$mp-video_library: "\e04a";
$mp-videocam: "\e04b";
$mp-videocam_off: "\e04c";
$mp-videogame_asset: "\e338";
$mp-view_agenda: "\e8e9";
$mp-view_array: "\e8ea";
$mp-view_carousel: "\e8eb";
$mp-view_column: "\e8ec";
$mp-view_comfy: "\e42a";
$mp-view_compact: "\e42b";
$mp-view_day: "\e8ed";
$mp-view_headline: "\e8ee";
$mp-view_list: "\e8ef";
$mp-view_module: "\e8f0";
$mp-view_quilt: "\e8f1";
$mp-view_stream: "\e8f2";
$mp-view_week: "\e8f3";
$mp-vignette: "\e435";
$mp-visibility_off: "\e8f5";
$mp-voice_chat: "\e62e";
$mp-voicemail: "\e0d9";
$mp-volume_down: "\e04d";
$mp-volume_mute: "\e04e";
$mp-volume_off: "\e04f";
$mp-volume_up: "\e050";
$mp-vpn_key: "\e0da";
$mp-vpn_lock: "\e62f";
$mp-wallpaper: "\e1bc";
$mp-watch1: "\e334";
$mp-watch_later: "\ea5f";
$mp-wb_auto: "\e42c";
$mp-wb_incandescent: "\e42e";
$mp-wb_iridescent: "\e436";
$mp-wb_sunny: "\e430";
$mp-wc: "\e63d";
$mp-web: "\e051";
$mp-web_asset: "\e069";
$mp-weekend: "\e16b";
$mp-whatshot: "\e80e";
$mp-widgets: "\e1bd";
$mp-wifi: "\e63e";
$mp-wifi_lock: "\e1e1";
$mp-wifi_tethering: "\e1e2";
$mp-work: "\e8f9";
$mp-wrap_text: "\e25b";
$mp-youtube_searched_for: "\e8fa";
$mp-zoom_in: "\e8ff";
$mp-zoom_out: "\ea60";
$mp-zoom_out_map: "\e56b";

