/* You can add global styles to this file, and also import other style files */

@import "theme";

@import "~material-design-icons/iconfont/material-icons.css";

@import "icons";

@import "./codemirror";

html, body, mat-drawer-container {
    flex: 1;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #ccc;
}

.text-center {
    text-align: center !important
}

.mat-toolbar {
    &,
    h1, h2, h3, h4, h5, h6 {
        font: 500 15px/15px Roboto, "Helvetica Neue", sans-serif;
    }
}

mat-form-field {
    margin: 8px;
}

table {
    width: 100%;
}

.has-icon {
    .mat-list-item-content {
        margin-left: 40px;
    }
}

.content {
    padding: 7px 14px 30px 14px;
}

.action {
    button {
        margin: 18px 6px;
    }
    mat-slide-toggle {
        margin: 28px 16px;
    }
}
