/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";

@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-amber);
$app-warn: mat-palette($mat-red);

$theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($theme);
