<mat-dialog-content ngx-auto-scroll lock-y-offset="10" observe-attributes>
    <div fxLayout="column">
        <mat-form-field fxFlex>
            <input matInput
                   autocapitalize="none"
                   placeholder="Şirket Adı"
                   [(ngModel)]='company.title'
                   name='Şirket Adı'>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput
                   type="number"
                   placeholder="Kullanıcı Sayısı"
                   [(ngModel)]='company.userLimit'
                   name='Kullanıcı Sayısı'>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker"
                   [(ngModel)]='company.expiredTime'
                   placeholder="Bitiş Tarihi">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div fxLayout="row">
            <mat-form-field fxFlex>
                <input matInput
                       type="text"
                       placeholder="Makine Anahtarı"
                       [(ngModel)]='company.machineKey'
                       name='Makine Anahtarı'>
            </mat-form-field>
            <button mat-icon-button color="warn" (click)="generateMachineKey()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="toggle-container">
            <mat-slide-toggle
                [(ngModel)]='company.active'
                [checked]="company.active"
                color="primary">
                Aktif
            </mat-slide-toggle>
        </div>
        <div class="toggle-container" *ngIf="company._id">
            <mat-slide-toggle
                [disabled]="!(false | role: 'root')"
                [(ngModel)]='company.verified'
                [checked]="company.verified"
                color="warn"
            >
                Doğrula
            </mat-slide-toggle>
        </div>
        <div class="toggle-container" *ngIf="(false | role: 'root')">
            <mat-slide-toggle
                [(ngModel)]='company.deleted'
                [checked]="company.deleted"
                color="warn"
            >
                Sil
            </mat-slide-toggle>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <mat-spinner *ngIf="loading" [diameter]="16" color="warn"></mat-spinner>
    <button mat-button [disabled]="loading" (click)="save()">Kaydet</button>
    <button mat-button mat-dialog-close cdkFocusInitial>İptal</button>
</mat-dialog-actions>
